<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<th:block layout:fragment="customContents">
		<h2 class="page-title">무인기기 신청 반려 목록</h2>
             <div class="col-md-6 my-4">
                  <div class="card shadow">
                    <div class="card-body">                    
                      <h5 class="card-title"></h5>
                      <p class="card-text"></p>
                      <table class="table table-hover">
                   
      
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->     	
	</th:block>
	
</html>