<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>나의 정보</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item"><a href="/mypage/myInfo"><span>마이페이지</span></a></li>
              <li class="breadcrumb-item active" aria-current="page"><span class="fe fe-16 fe-chevron-right"></span>나의 정보</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  <section class="	">
    <div class="container">
      
      <div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="">
						<!-- User Image -->
						<div class="">
							<img src="/user/img/member/member5.jpg" alt="" class="span" width="300" heigh="150">
						</div>
						<!-- User Name -->
						<h5 class="text-center col-11">서원</h5>
						<p>Joined 2018</p>
					</div>
					<!-- Dashboard Links -->
					<div class="container">
						<ul>
							<li>
								<span class=""></span>마이 페이지</a></li>
							<li>
								<span class=""></span> 배송 신청 </a>
							</li>
							<li>
								<span class=""></span>배송 조회 </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- Edit Personal Info -->
				<div class="widget personal-info">
					<div class="container p-3 border" >				  
	                	<a class="userHello-username" href="/mypage/myInfo" th:text="${session.SNAME}"></a>
	                    <span>회원님 반갑습니다.</span>
					</div>
					<div class="container p-3 border" >				  
	                	
	                    <span>컵 이용 현황 : 개</span>
					</div>
					
					
					<form action="#">
						<!-- First Name -->
						<div class="container p-3 my-5 border" >
						    <span>바코드</span>
						</div>
					
					</form>
				</div>
				<div class="widget personal-info">
						<!-- Comunity Name -->
						
							
							
						    <input type="text" class="form-control" id="comunity-name" placeholder="&nbsp; &nbsp; &nbsp;➕ &nbsp; &nbsp; &nbsp; 배송지 추가하기">
						</div>
				</div>
				
			</div>	
		</div>
	</div>
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
</html>