<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>나의 정보</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item"><a href="/mypage/myInfo"><span>마이페이지</span></a></li>
              <li class="breadcrumb-item active" aria-current="page"><span class="fe fe-16 fe-chevron-right"></span>나의 정보</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  <section class="mypage-margin">
    <div class="container">
      
      <div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="container border" >
						<!-- User Image -->
							<img src="/user/img/member/person-circle.svg" alt="" class="person-circle col-12" width="200" heigh="150">
						<!-- User Name -->
						<h5 class="text-center col-12" style="margin-top: 30px;" th:text="${session.SNAME}"></h5>
					<!-- 나의 포인트, 보증금 -->
					<div class="jb-division-line"></div>
						<ul>
							<li>
								나의 포인트 : <a class="currentPoint" href="/point/myPoint">[[${currentPoint}]]</a></li>
							<li>
								나의 보증금 : <a style="margin-bottom: 20px;" href="/deposit/mydeposit">보증금추가해라</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- 나의 정보 -->
				<div class="widget personal-info">
					<div class="container cup-num p-3 border" style="background-color: #f89b00; color:white" >
	                	<a class="userHello-username" style="color:white" th:text="${session.SNAME}"></a>
	                    <span>회원님 반갑습니다.</span>
					</div>
					<div class="container p-3 border" >
	                	<span>컵 이용 현황 : <a href="/mypage/myCup">컵 개수 추가해라</a> 개</span>
					</div>
					
					
					<div class="barcode-kiosk-div">
						<!-- 바코드 -->
						<div class="container-barcode p-3">
							<a href="/mypage/myBarcode">
								<img class="border" src="/user/img/qrcode.png">
							</a>
						</div>
						<!-- 무인기기 즐겨찾기 -->
						<div class="container-kiosk p-3 border">
							<div>즐겨찾기한 무인기기</div>
						</div>
					</div>
				</di>
			</div>
				
			</div>	
		</div>
	</div>
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
</html>