<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>나의 정보</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/main"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">나의 정보</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  <section class="order_details section-margin--small">
    <div class="container">
      
      <div class="row">
			<div class="col-md-10 offset-md-1 col-lg-4 offset-lg-0">
				<div class="sidebar">
					<!-- User Widget -->
					<div class="widget user-dashboard-profile">
						<!-- User Image -->
						<div class="profile-thumb">
							<img src="/user/img/instagram/Image-01.jpg" alt="" class="rounded-circle">
						</div>
						<!-- User Name -->
						<h5 class="text-center">Samanta Doe</h5>
						<p>Joined February 06, 2017</p>
					</div>
					<!-- Dashboard Links -->
					<div class="widget user-dashboard-menu">
						<ul>
							<li>
								<a href="dashboard-my-ads.html"><i class="fa fa-user"></i>마이 페이지</a></li>
							<li>
								<a href=""><i class="fa fa-hourglass-end"></i> 배송 신청 </a>
							</li>
							<li>
								<a href=""><i class="fa fa-truck"></i>배송 조회 </a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-0">
				<!-- Edit Personal Info -->
				<div class="widget personal-info">
					<h1 class="widget-header user">배송 주문 정보</h1>
					<form action="#">
						<!-- First Name -->
						<div class="form-group">
						    <label for="first-name">주문자 이름</label>
						    <input type="text" class="form-control" id="first-name" placeholder="이름을 입력해 주세요">
						</div>
						<!-- Last Name -->
						<div class="form-group">
						    <label for="last-name">주문자 연락처</label>
						    <input type="text" class="form-control" id="last-name" placeholder="전화번호를 입력해 주세요">
						</div>
				</div>
				<div class="widget personal-info">
						<!-- Comunity Name -->
						<div class="form-group">
							<h1 class="widget-header user">배송지</h1>	
							
						    <input type="text" class="form-control" id="comunity-name" placeholder="&nbsp; &nbsp; &nbsp;➕ &nbsp; &nbsp; &nbsp; 배송지 추가하기">
						</div>
				</div>
				<div class="widget personal-info">		
					<h1 class="widget-header user">결제 수단</h1>		
						<!-- Checkbox -->
						<div class="form-check">
						  <label class="form-check-label" for="hide-profile">
						    <input class="form-check-input" type="radio" value="" id="hide-profile">
						    일반결제
						  </label>
						</div>		
							<div class="select">
								<input type="radio" id="select" name="temp1"><label for="select">신용/체크카드</label>
								<input type="radio" id="select2" name="temp1"><label for="select2">무통장 입금</label>
						   </div>
							<button type="button" class="btn btn-transparent btn-danger btn-block">결제하기</button>
						</div>
					</form>
				</div>	
			</div>
		</div>
         
        
      
    </div>
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
</html>