<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
  <!--================Login Box Area =================-->  
  <section class="login_box_area section-margin">
		<div class="container">
			<div class="rowlogin">
				<div class="login_join_center">
					<div class="login_form_inner">
						<h3>제휴업체 신청</h3>
						<form class="row login_form" action="#/" id="register_form" >
							<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="사업자 번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업자 번호'">
								</div>
								<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="email" name="email" placeholder="사업장명" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업장명'">
					              </div>
					              <div class="col-md-12 form-group">
									<input type="text" class="form-control" id="password" name="password" placeholder="사업장 타입" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업장 타입'">
					              </div>
					              <div>
					              <select>
					              <option value="">설치 사업장</option>
					              <option value="">무인기기설치업체</option>
					              <option value="">세척업체</option>
					              </select>
					              </div>

								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="loginbtn">
										<img src="/user/img/join.png" height="36" width="107" alt="">
									</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
   </th:block>
</html>