<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
	
	 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>제휴업체 신청</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">제휴업체 신청</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->
  
  <!--================Login Box Area =================-->  
  <section class="login_box_area section-margin">
		<div class="container">
			<div class="rowlogin">
				<div class="login_join_center">
					<div class="login_form_inner">
						<h3>제휴업체 신청</h3>
						<form class="row login_form" action="#/" id="register_form" >
							<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="name" name="name" placeholder="사업자 번호" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업자 번호'">
								</div>
								<div class="col-md-12 form-group">
									<input type="text" class="form-control" id="email" name="email" placeholder="사업장명" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업장명'">
					              </div>
					              <div class="col-md-12 form-group">
									<input type="text" class="form-control" id="password" name="password" placeholder="사업장 타입" onfocus="this.placeholder = ''" onblur="this.placeholder = '사업장 타입'">
					              </div>
					              <div>
					              <select>
					              <option value="">설치 사업장</option>
					              <option value="">무인기기설치업체</option>
					              <option value="">세척업체</option>
					              </select>
					              </div>

								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="loginbtn">
										<img src="/user/img/button/join.png" height="36" width="107" alt="">
									</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
   </th:block>
</html>