<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer">
	<div class="footer-area footer-only" th:fragment="footerFragment">
		
        
            <div class="container">
                <div class="row section_gap">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="single-footer-widget tp_widgets ">
                            <h4 class="footer_title large_title">99 프로젝트</h4>
                            <p class="footer-large-title-content">
                                💙지구를 지키는 프로젝트💙
                            </p>

                        </div>
                    </div>

                    <div class="offset-lg-12 col-lg-12 col-md-12 col-sm-12">
                        <div class="single-footer-widget tp_widgets">
                            <h4 class="footer_title contact-us-title">Contact Us</h4>
                            <div class="container">
                                <div class="contact-us rowfooter">
                                    <div class="contact-us col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            🌍 이소리 sori@ksmart47
                                        </p>
                                    </div>
                                    <div class="contact-us col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            🌍 박현정 hyeonjeong@ksmart47
                                        </p>
                                    </div>
                                    <div class="contact-us col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            🌍 최수봉 soobang@ksmart47
                                        </p>
                                    </div>
                                    <div class="contact-us col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            🌍 현주열 zooten@ksmart47
                                        </p>
                                    </div>
                                    <div class="contact-us col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            🌍 서원 westone@ksmart47
                                        </p>
                                    </div>
                                    <div class="contact-us col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                        <p>
                                            🌍 김우걱 wooguk@ksmart47
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        


        <div class="footer-bottom">
            <div class="container">
                <div class="row d-flex">
                    <p class="col-lg-12 footer-text text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        <a href="/admin/" target="_self">Copyright</a>
                        <script>document.write(new Date().getFullYear());</script> All rights reserved |
                        This template
                        is made with <i class="fa fa-heart" aria-hidden="true"></i> by.99프로젝트
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>	
</html>