<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
<th:block layout:fragment="customContents">
 
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>무인기기 위치 조회</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">무인기기 위치 조회</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  <section class="order_details section-margin--small">
    <div class="container">
	
	   <div id="map" style="width:100%;height:350px;"></div>

	
   		<table class="table">
			<thead>
				<tr>
					<th>No.</th>
					<th>설치된 무인기기 번호</th>
					<th>사업장 이름</th>
					<th>사업장 주소</th>
					<th>무인기기 상태</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:unless="${#lists.isEmpty(installedKiosk)}" th:each="i, index : ${installedKiosk}">
					<td th:text="${index.count}"></td>
					<td th:text="${i.kioskSerialNum}"></td>
					<td th:text="${i.partnerName}"></td>
					<td th:text="${i.partnerAddr}"></td>
					<td th:text="${i.staticCode}"></td>
				</tr>
				<tr th:if="${#lists.isEmpty(installedKiosk)}">
					<td colspan="4">목록이 없습니다.</td>
				</tr>
				
			</tbody>
		</table>
	   </div>
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
   	<th:block layout:fragment="customJs">
   	
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=953410e0dbee17e1ca226c52f9ace76f&libraries=clusterer"></script>
		<script type="text/javascript">
	
		    var map = new kakao.maps.Map(document.getElementById('map'), { // 지도를 표시할 div
		        center : new kakao.maps.LatLng(37.5478423, 127.0418966), // 지도의 중심좌표 
		        level : 5 // 지도의 확대 레벨 
		    });
		    
		    // 마커 클러스터러를 생성합니다 
		    var clusterer = new kakao.maps.MarkerClusterer({
		        map: map, // 마커들을 클러스터로 관리하고 표시할 지도 객체 
		        averageCenter: true, // 클러스터에 포함된 마커들의 평균 위치를 클러스터 마커 위치로 설정 
		        minLevel: 10 // 클러스터 할 최소 지도 레벨 
		    });
		 
		    // 데이터를 가져오기 위해 jQuery를 사용합니다
		    // 데이터를 가져와 마커를 생성하고 클러스터러 객체에 넘겨줍니다
		    
			// ajax 호출
			const request = $.ajax({
							url: "/kiosk/kioskPlace",
							method: "POST",
							dataType:'JSON'
			});
		    request.done(function( response ) {
                console.log(response);
                
    		        // 데이터에서 좌표 값을 가지고 마커를 표시합니다
    		        // 마커 클러스터러로 관리할 마커 객체는 생성할 때 지도 객체를 설정하지 않습니다
    		        var markers = $(response).map(function(i, item) {
    		            return new kakao.maps.Marker({
    		                position : new kakao.maps.LatLng(item.locationLatitude, item.locationLongitude)
    		            });
    		        });
    	
    		        // 클러스터러에 마커들을 추가합니다
    		        clusterer.addMarkers(markers);
    		   
               /* kakao.maps.event.addListener(clusterer, 'clusterclick', function(cluster) {

    		        // 현재 지도 레벨에서 1레벨 확대한 레벨
    		        var level = map.getLevel()-1;

    		        // 지도를 클릭된 클러스터의 마커의 위치를 기준으로 확대합니다
    		        map.setLevel(level, {anchor: cluster.getCenter()});
    		    });*/
                
			});
			request.fail(function( jqXHR, textStatus ) {
				alert( "Request failed: " + textStatus );
				});		   
			
			
			
			
		</script>
	</th:block>
</html>