<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar th:fragment="asideFragment">
		
        <a
          href="#"
          class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3"
          data-toggle="toggle"
        >
          <i class="fe fe-x"><span class="sr-only"></span></i>
        </a>
        <nav class="vertnav navbar navbar-light">
          <!-- nav bar -->
          <div class="w-100 mb-4 d-flex">
            <a
              class="navbar-brand mx-auto mt-2 flex-fill text-center"
              href="/" target="_self"
            >
             <img
                id="logo"
                class="navbar-brand-img brand-sm"
                src="/admin/assets/images/logo.png"
              >
               
            </a>
          </div>
          <p class="text-muted nav-heading mt-4 mb-1">
            <span>구구 프로젝트</span>
          </p>
          <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a
                href="#ui-elements"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle nav-link"
              >
                <i class="fe fe-user fe-16"></i>
                <span class="ml-3 item-text">회원 관리</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="ui-elements">
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-color.html"
                    ><span class="ml-1 item-text">회원 관리 기준</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-color.html"
                    ><span class="ml-1 item-text">전체 회원 관리</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-typograpy.html"
                    ><span class="ml-1 item-text">회원 등급 관리</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-icons.html"
                    ><span class="ml-1 item-text">회원 바코드 관리</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-buttons.html"
                    ><span class="ml-1 item-text">신고 회원 관리</span>
                    </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-notification.html"
                    ><span class="ml-1 item-text">부정 회원 관리</span>                   
                   	</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-modals.html"
                    ><span class="ml-1 item-text">휴면 회원 관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./ui-tabs-accordion.html"
                    ><span class="ml-1 item-text">탈퇴 회원 관리</span></a
                  >
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#forms"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle nav-link"
              >
                <i class="fe fe-users fe-16"></i>
                <span class="ml-3 item-text">제휴업체 관리</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="forms">
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./form_elements.html"
                    ><span class="ml-1 item-text">제휴업체 승인관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./form_elements.html"
                    ><span class="ml-1 item-text">제휴업체 회원관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./form_advanced.html"
                    ><span class="ml-1 item-text">휴면 회원 관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./form_validation.html"
                    ><span class="ml-1 item-text">탈퇴 회원 관리</span></a
                  >
                </li>
              </ul>
            </li>
            
            <li class="nav-item dropdown">
              <a
                href="#tables"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle nav-link"
              >
                <i class="fe fe-dollar-sign fe-16"></i>
                <span class="ml-3 item-text">보증금 관리</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="tables">
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./table_basic.html"
                    ><span class="ml-1 item-text">보증금 관련 기준 관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./table_advanced.html"
                    ><span class="ml-1 item-text">회원 보증금 관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./table_datatables.html"
                    ><span class="ml-1 item-text">보증금 결제 내역</span></a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#charts"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle nav-link"
              >
                <i class="fe fe-stop-circle fe-16"></i>
                <span class="ml-3 item-text">포인트 관리</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="charts">
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./chart-inline.html"
                    ><span class="ml-1 item-text">포인트 관련 기준 관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./chart-chartjs.html"
                    ><span class="ml-1 item-text">회원 포인트 관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./chart-apexcharts.html"
                    ><span class="ml-1 item-text">포인트 환급내역 관리</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-3" href="./datamaps.html"
                    ><span class="ml-1 item-text">포인트 후원내역 관리</span></a
                  >
                </li>
              </ul>
            </li>
           	</ul>
            
            <ul class="navbar-nav flex-fill w-100 mb-2">
            <li class="nav-item dropdown">
              <a
                href="#contact"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle nav-link"
              >
                <i class="fe fe-coffee fe-16"></i>
                <span class="ml-3 item-text">구구컵 관리</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="contact">
	            <li>
	                <a class="nav-link pl-3" href="./contacts-list.html">
	                  <span class="ml-1">구구컵 관련 기준 관리</span>
	                </a> 	        
	                <a class="nav-link pl-3" href="./contacts-grid.html"
	                  ><span class="ml-1">구구컵 상태 관리</span></a
	                >
	                <a class="nav-link pl-3" href="/admin/cup/cupStock"
	                  ><span class="ml-1">구구컵 재고 관리</span></a
	                >
	                <a class="nav-link pl-3" href="./contacts-new.html"
	                  ><span class="ml-1">컵 대여/반납 관리</span></a
	                >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#fileman"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle nav-link"
              >
                <i class="fe fe-monitor fe-16"></i>
                <span class="ml-3 item-text">무인기기 관리</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="fileman">
              	<li>
	                <a class="nav-link pl-3" href="./files-list.html"
	                  ><span class="ml-1">무인기기 관련 기준 관리</span></a
	                >
	                <a class="nav-link pl-3" href="./files-grid.html"
	                  ><span class="ml-1">무인기기 설치신청 관리</span></a
	                >
	                <a class="nav-link pl-3" href="./files-grid.html"
	                  ><span class="ml-1">무인기기 설치목록 조회</span></a
	                >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a
                href="#profile"
                data-toggle="collapse"
                aria-expanded="false"
                class="dropdown-toggle nav-link"
              >
                <i class="fe fe-smile fe-16"></i>
                <span class="ml-3 item-text">고객센터 관리</span>
              </a>
              <ul class="collapse list-unstyled pl-4 w-100" id="profile">
              	<li>
                	<a class="nav-link pl-3" href="./profile.html">
                 	 <span class="ml-1">분실 신고 관리</span></a>
                	<a class="nav-link pl-3" href="./profile-settings.html">
                 	<span class="ml-1">AS 접수 관리</span></a>
                 </li>	
               		
              </ul>
            </li>
            </ul>
        </nav>
      </aside>
		
</html>
 