<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">보증금 기준 조회</h2>
             <p class="card-text"></p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                          <tr>
                            <th>
                            	<div class="custom-control custom-checkbox">
	                                <input type="checkbox" class="custom-control-input" id="check1">
	                                <label class="custom-control-label" for="check1"></label>
                              	</div>
                            </th>
                            <th>입금 대기 만료 기준 코드</th>
                           	<th>입금 대기 만료 기간(일)</th>
                            <th>최초 등록일</th>
                            <th>관리자 아이디</th>
                            <th>업데이트 날짜</th>
                            <th>수정/삭제</th>
                          </tr>
                        </thead>
                        <tbody>
                        	<th:block th:unless="${#lists.isEmpty(depositStandardList)}"  th:each="d : ${depositStandardList}">
		                          <tr>
		                            <td>
		                              <div class="custom-control custom-checkbox">
		                                <input type="checkbox" class="custom-control-input" id="check1">
		                                <label class="custom-control-label" for="check1"></label>
		                              </div>
		                            </td>
		                            
		                            <td th:text="${d.waitingDepositStandardCode}"></td>
		                            <td th:text="${d.waitingDepositPeriod}"></td>
		                            <td th:text="${d.setDatetime}"></td>
		                            <td th:text="${d.adminId}"></td>
		                            <td th:text="${d.upDatetime}"></td>
		  
		                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                                <span class="text-muted sr-only">수정/삭제</span>
		                              </button>	
		                                <div class="dropdown-menu dropdown-menu-right">
	                                <a class="dropdown-item" th:href="@{/admin/deposit/modifyDepositStandard(adminId=${d.adminId})}">수정</a>	    
	                                <a class="dropdown-item" th:href="@{/admin/deposit/deleteDepositStandard(waitingDepositStandardCode=${d.waitingDepositStandardCode})}">삭제</a>	                   
	                              	
	                              </div>	                        
		                            </td>
		                          </tr>
                          	</th:block>                        
                        </tbody>
                        <tfoot>
                        
							 <tr>
								<td colspan="7">
									<a class="pages btn mb-2 btn-secondary" th:href="@{/admin/deposit/depositStandard}">처음으로</a>
									<a class="btn mb-2 btn-secondary" th:if="${currentPage>1}" th:href="@{/admin/deposit/depositStandard(currentPage=${currentPage-1})}">이전</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage>1}">이전</label>
										<div class="btn-group mr-2" role="group" aria-label="First group">
											<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}" >
												<a class="btn mb-2 btn-secondary" th:if="${currentPage != num}" th:href="@{/admin/deposit/depositStandard(currentPage=${num})}" th:text="${num}"></a>
												<label class="btn mb-2 btn-secondary" th:if="${currentPage == num}" th:text="${num}"></label>
											</th:block>
										</div>				
									<a class="btn mb-2 btn-secondary" th:if="${currentPage<lastPage}" th:href="@{/admin/deposit/depositStandard(currentPage=${currentPage+1})}">다음</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage<lastPage}">다음</label>
									<a class="pages btn mb-2 btn-secondary" th:href=@{/admin/deposit/depositStandard(currentPage=${lastPage})}>마지막으로</a>
								</td>
							</tr> 
						</tfoot>
                      </table>
                    </div>			
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script>		
			$(function(){
		      $('#dataTable-1').DataTable({
			         autoWidth: true,			      
			         "lengthChange": false, 
              		    "pageLength" : 10,
                		  "searching" : false,
               		   "info": false,
                  "paging" :false, 
			        columnDefs: [{
			            targets: 0,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled'
			            
			         }
			         ,{
			            targets: $('#dataTable-1').find('th').length-1,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled',	           
			         	}
			         ]
						      	
				});
			$('#dataTable-1').find('.sorting_asc').toggleClass('sorting_asc');
			});
		
		</script>
	</th:block>
	
</html>