<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">입금 대기 시간 기준 수정</h2>
             <p class="card-text">기준 수정</p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <div class="form-wrapper">
                        <form id="modifyDepositStandardForm" th:action="@{/admin/deposit/modifyDepositStandard}" method="post">
                          <table class= "table datables table-hover">                                                           
                            <thead>
                          <tr>                         
                            <th colspan="2">입금 대기 만료 기준 코드</th>
                           	<th colspan="2">입금 대기 만료 기간(일)</th>
                            <th colspan="2">최초 등록일</th>
                            <th colspan="2">관리자 아이디</th>
                            <th colspan="2">업데이트 날짜</th>                           
                          </tr>
                        </thead>
                            <tbody th:object="${depositStandardInfo}">                        	
                              <tr>
                                <td>
                                  <label for="waitingDepositStandardCode"></label>
                                </td>
                                <td>					
                                  <input type="text" id="waitingDepositStandardCode" name="waitingDepositStandardCode" th:value="*{waitingDepositStandardCode}" placeholder="코드" readonly="readonly"/>
                                </td>                             
                                <td>
                                  <label for="waitingDepositPeriod"></label>
                                </td>
                                <td>
                                  <input type="text" id="waitingDepositPeriod" name="waitingDepositPeriod" th:value="*{waitingDepositPeriod}" placeholder="기간 수정"/>
                                </td>                             
                                <td>
                                  <label for="setDatetime"></label>
                                </td>
                                <td>
                                  <input type="text" id="setDatetime" name="setDatetime" th:value="*{setDatetime}" placeholder="초기 시간" readonly="readonly"/>
                                </td>                             
                                <td>
                                  <label for="adminId"></label>
                                </td>
                                <td>
                                  <input type="text" id="adminId" name="adminId" th:value="*{adminId}" placeholder="관리자 아이디" readonly="readonly"/>
                                </td>                             
                                <td>
                                  <label for="upDatetime"></label>
                                </td>
                                <td>
                                  <input type="text" id="upDatetime" name="upDatetime" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}" placeholder="업데이트 날짜"/>
                                </td>
                              </tr>
                              <tr>
                              <td colspan="14">
			                     <button type="submit" id=":modifyDepositStandardBtn" class="btn btn-primary">수정</button>
                           		<button type="reset" class="btn btn-primary">취소</button>
                            	</td>
                            	</tr>
                            </tbody>
                          </table>
                        </form>
                      </div>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	
</html>
