<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  
	<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">입금 대기 시간 기준 수정</h2>
             <p class="card-text">기준 수정</p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <div class="form-wrapper">
                        <form id="modifyDepositStandardForm" th:action="@{/admin/deposit/modifyDepositStandard}" method="post">
                          <table class= "table datables table-hover">                                                           
                            <thead>
                          <tr>                         
                            <th colspan="2">입금 대기 만료 기준 코드</th>
                           	<th colspan="2">입금 대기 만료 기간(일)</th>
                            <th colspan="2">최초 등록일</th>
                            <th colspan="2">관리자 아이디</th>
                            <th colspan="2">업데이트 날짜</th>                           
                          </tr>
                        </thead>
                            <tbody th:object="${depositStandardInfo}">                        	
                              <tr>
                                <td>
                                  <label for="waitingDepositStandardCode"></label>
                                </td>
                                <td>					
                                  <input type="text" id="waitingDepositStandardCode" name="waitingDepositStandardCode" th:value="*{waitingDepositStandardCode}" placeholder="코드" readonly="readonly"/>
                                </td>                             
                                <td>
                                  <label for="waitingDepositPeriod"></label>
                                </td>
                                <td>
                                  <input type="number" id="waitingDepositPeriod" name="waitingDepositPeriod" th:value="*{waitingDepositPeriod}" placeholder="기간 수정"/>
                                </td>                             
                                <td>
                                  <label for="setDatetime"></label>
                                </td>
                                <td>
                                  <input type="text" id="setDatetime" name="setDatetime" th:value="*{setDatetime}" placeholder="초기 시간" readonly="readonly"/>
                                </td>                             
                                <td>
                                  <label for="adminId"></label>
                                </td>
                                <td>
                                  <input type="text" id="adminId" name="adminId" th:value="*{adminId}" placeholder="관리자 아이디" readonly="readonly"/>
                                </td>                             
                                <td>
                                  <label for="upDatetime"></label>
                                </td>
                                <td>
                                  <input type="text" id="upDatetime" name="upDatetime" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd HH:mm:ss')}" placeholder="업데이트 날짜"/>
                                </td>
                              </tr>
                              <tr>
                              <td colspan="14">
			                     <button type="submit" id=":modifyDepositStandardBtn" class="btn btn-primary">수정</button>
                           		<button type="reset" class="btn btn-primary">취소</button>
                            	</td>
                            	</tr>
                            </tbody>
                          </table>
                        </form>
                      </div>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
          <button id="start_ajax">사용중인 만료기간 조회</button>
          <p id="name"></p>
	</th:block>
		<th:block layout:fragment="customJs">
				
		<script th:src="@{/js/jquery-3.7.0.js}"></script>
    	<script type="text/javascript" th:inline="javascript">
				// 유효성검사 함수
			const validCheck = element => {
				let data = $(element).val();
				let eleId = $(element).attr('id');
				if(typeof data == 'undefined' || data == null || data == '' ){
					let cate = $(`label[for="${eleId}"]`).text();
					alert(`[${cate}] 필수 입력항목입니다.`);
					$(element).focus();
					return false;
				}
				return true;
			}
    	
    		$('#modifyDepositStandardBtn').click(function(){
    			const validateEle = $('#modifyDepositStandardForm select,input');   			
    			let isSubmit = false;
    			validateEle.each((idx, item) => {    				
	    			isSubmit = validCheck(item);
	    			return isSubmit;
    			})
    			if(isSubmit) $('#modifyDepositStandardForm').submit();
    		})
			
			
			
			
			
			
			
			
			$(document).ready(function() {
				let formData = {
    				'waitingDepositPeriod': $('#waitingDepositPeriod').val()}
				
				$("#start_ajax").click(function(){
					$.ajax({
						url: "modifyCheck",	// 이 주소와 통신을 시작한다.
						type: "POST",						
						data:formData,		
						success: function(result) {							
							$("#name").text('지금 적용되고 있는 기준은'+ result+'일 입니다');
						},		
						error:function(){
							alert('실패');
						}
					});
				});
			});		
		</script>
	</th:block>
	
</html>
