.wizard > .steps a {
    display: block;
    width: auto;
    margin: 0 0.5em 0.5em;
    padding: 1em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#example-basic {
    display: none;
}

.colSpan-center {
  display: flex;
  justify-content: center;
}

.margin-btn{
	margin-right: 10px;
    margin-left: 10px;
}

.wizardValidCheck{
	margin-bottom : 20px !important;
	color : red;
	font-size: 13px
}

.wizardValidCheckOk{
	margin-bottom : 10px !important;
	color : #88BFC2;
	font-size: 15px;
	font-weight : bold;
	text-align: center;
}

.nice-select{
	margin-bottom: 20px
}

.currentPoint{
	color : #F63495;
	font-weight: bold;
	font-size: 18px;
}

.nice-select.disabled {
	background-color: #e9ecef;
}

input::placeholder {
  color: #CDCDCD !important;
  font-size: 13px;
}
