<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>나의 보증금 조회</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">나의 보증금 조회</li>
            </ol>
          </nav>
      </div>
    </div>
  </section> 
   <section class="order_details section-margin--small">
    <div class="container">   
      <div class="order_details_table">
        <h2>보증금 조회</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">이름</th>
                <th scope="col">과거보증금</th>
                <th scope="col">보증금 사용 유형</th>
                <th scope="col">현 보증금</th>
                <th scope="col">최종변동날짜</th>
              </tr>
            </thead>
          <tbody>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
</html>