<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	  <head>
  <meta charset="utf-8" />
  <!-- 결제위젯 SDK 추가 -->
  <script src="https://js.tosspayments.com/v1/payment-widget"></script>
	</head>
	<body>
 	<section>
 	<h1>구매하기</h1>
 	<h3><%= orderName %></h3>
	<span><%= price.toLocaleString() %>원</span>
	<div id="payment-widget"></div>
	<button id="payment-button">결제하기</button>
 </section>
 <script src="https://js.tosspayments.com/v1/payment-widget"></script>
  
 <script>
 const paymentWidget = PaymentWidget(
	"test_ck_JQbgMGZzorzx402jdj73l5E1em4d", "<%=price %>")
	const button = document.getElementById("payment-button")
	//button.addEventListener()// 회원 결제
 
 </script>
  <!-- 결제위젯, 이용약관 영역 -->
  <div id="payment-method"></div>
  <div id="agreement"></div>
  <!-- 결제하기 버튼 -->
  <button id="payment-button">결제하기</button>
  <script>
   // const clientKey = "test_ck_JQbgMGZzorzx402jdj73l5E1em4d"
   // const customerKey = "o0oNDZ_5_BYA7vRvtW-vc"// 내 상점에서 고객을 구분하기 위해 발급한 고객의 고유 ID
  // const button = document.getElementById("payment-button")
    button.addEventListener("click", function () {
      paymentWidget.requestPayment({
   		amount:"<%= price %>",
    	 orderId: "<%= orderId %>",            // 주문 ID(직접 만들어주세요)
        orderName: "<%= orderName %>",                 // 주문명
        customerName: "<%= customerName %>",                 // 주문명
        successUrl: "https://my-store.com/success",  // 결제에 성공하면 이동하는 페이지(직접 만들어주세요)
        failUrl: "https://my-store.com/fail",        // 결제에 실패하면 이동하는 페이지(직접 만들어주세요)     
      })
    })
  </script>
</body>
	  
	  
	  
	  
	  
	  
	  
</html>