<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  

	  
<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <a class="return-tag" href="/admin/cup/addCupApply">구구컵 추가 배송 관리</a>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                    <div th:insert="~{admin/search/search :: cupStateSearchFragment}"></div>
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                          <tr>
                            <th>NO.</th>
                           	<th>사업장 코드</th>
                            <th>무인기기 번호</th>
                            <th>신청 수량</th>
                            <th>업데이트 날짜</th>
                            <th>배송희망 날짜</th>
                            <th>승인 상태</th>
                            <th>관리자 아이디</th>
                          </tr>
                        </thead>
                       <tbody>
                        	<th:block th:unless="${#lists.isEmpty(addCupApplyList)}"  th:each="a,state : ${addCupApplyList}">
		                          <tr>
		                            <td th:text="${state.count}"></td>
		                            <td th:text="${a.partnerCode}"></td>
		                            <td th:text="${a.KioskSerialNum}"></td>
		                            <td th:text="${a.outAmount}"></td>
		                            <td th:text="${a.upDateTime}"></td>
		                            <td th:text="${a.deliveryDesiredDate}"></td>
		                            <td th:text="${a.staticCode}"></td>
		                            <td th:text="${a.userId}"></td>
		                          </tr>
                          	</th:block>
                          	<tr th:if="${#lists.isEmpty(addCupApplyList)}">
								<td colspan="8">폐기컵이 없습니다.</td>
	              			</tr>
                        </tbody>
                        <!-- <tfoot>
                        
							<tr>
								<td colspan="7">
									<a class="pages btn mb-2 btn-secondary" th:href="@{/admin/cup/cupStateManage}">처음으로</a>
									<a class="btn mb-2 btn-secondary" th:if="${currentPage>1}" th:href="@{/admin/cup/cupStateManage(currentPage=${currentPage-1})}">이전</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage>1}">이전</label>
										<div class="btn-group mr-2" role="group" aria-label="First group">
											<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}" >
												<a class="btn mb-2 btn-secondary " th:if="${currentPage != num}" th:href="@{/admin/cup/cupStateManage(currentPage=${num})}" th:text="${num}"></a>
												<label class="btn mb-2 btn-secondary current-page-btn" th:if="${currentPage == num}" th:text="${num}"></label>
											</th:block>
										</div>				
									<a class="btn mb-2 btn-secondary" th:if="${currentPage<lastPage}" th:href="@{/admin/cup/cupStateManage(currentPage=${currentPage+1})}">다음</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage<lastPage}">다음</label>
									<a class="pages btn mb-2 btn-secondary" th:href=@{/admin/cup/cupStateManage(currentPage=${lastPage})}>마지막으로</a>
								</td>
								<td class="btn-right-align">
									<button type="button" class="btn mb-2 btn-secondary" id="delCheckBtn" >삭제</button>
								</td>
							</tr>
						</tfoot> -->
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	<th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript">
		let msg = '[[${msg}]]';
		console.log(msg);
		if(msg != 'null') alert(msg);
		
			
			 $('table').click((e) => {
			        if ($(e.target).is($('.allCheck'))) {
			          const isChecked = $(e.currentTarget)
			            .find('.allCheck')
			            .prop('checked');
			          $(e.currentTarget).find('.checks').prop('checked', isChecked);
			        }
			
			        if ($(e.target).is($('.checks'))) {
			          if (
			            $(e.currentTarget).find('.checks').length ==
			            $(e.currentTarget).find('.checks:checked').length
			          ) {
			            $(e.currentTarget).find('.allCheck').prop('checked', true);
			          } else $(e.currentTarget).find('.allCheck').prop('checked', false);
			        }
			      });
	
			  $('#delCheckBtn').click(function(e){
				  //배열 선언
					const cupQrArr = [];
				  //check 클래스 중 속성이 checked된 요소만 변수에 담아줌
					const $checkedEle = $('.checks:checked');
				  //배열 순회
					$checkedEle.each((idx, item) => {
						//input태그에 속성인 th:data-cup-qr (cup-qr은 자동으로 cupQr로 변환)
						let cupQr = $(item).data('cupQr');
						//베열에 cupQr 담아줌
						cupQrArr.push(cupQr);
					})
					console.log(cupQrArr);
				  	//배열의 길이가 0이 아니면
					if(cupQrArr.length != 0){
						//새로운 폼 생성 ->jquery
						const newForm = $('<form></form>');
						//새로운 폼에 set attribute	
						newForm.attr("method","post");
						newForm.attr("action","/admin/cup/cupStateRemove");
						// create element & set attribute (input)
						//$ 제이쿼리 배열을 순회하는데 순회하는 배열은 괄호 안쪽에서 부름
						$.each(cupQrArr, (idx, item) => {
							newForm.append($('<input/>', {type: 'hidden', name: 'cupQR', value:item}));
						})
						// append form (to body) 
						// newForm은 이미 제이쿼리 문법으로 선언
						newForm.appendTo('body');
						let result = confirm("정말로 삭제하시겠습니까?")
							if(result){
								alert("삭제 완료!!")
								newForm.submit();
							}else alert("취소 되었습니다.")
					}
						
					

				});
				
		</script>
	</th:block>
</html>