<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  

	  
<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">구구컵 상태 관리</h2>
             <p class="card-text">현재 구구컵 상태를 관리합니다! </p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                          <tr>
                           <th>
                            	<div class="custom-control custom-checkbox">
	                               <input type="checkbox" class="custom-control custom-checkbox checkbox allCheck">
                              	</div>
                            </th>
                            <th>NO.</th>
                           	<th>컵 QR 코드</th>
                            <th>컵 현재 상태</th>
                            <th>컵 등록 날짜</th>
                            <th>관리자 ID</th>
                            <th>업데이트 날짜</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        	<th:block th:unless="${#lists.isEmpty(cupStateList)}"  th:each="c : ${cupStateList}">
		                          <tr>
		                            <td>
		                              <div class="custom-control custom-checkbox">
		                                <input type="checkbox" class="custom-control custom-checkbox checkbox checks">
		                              </div>
		                            </td>
		                            <td th:text="${c.num}"></td>
		                            <td th:text="${c.cupQR}"></td>
		                            <td th:text="${c.staticCode}"></td>
		                            <td th:text="${c.setDate}"></td>
		                            <td th:text="${c.adminName}"></td>
		                            <td th:text="${c.upDateTime}"></td>
		                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		                                <span class="text-muted sr-only">Action</span>
		                              </button>
		                              <div class="dropdown-menu dropdown-menu-right">
		                                <a class="dropdown-item" th:href="@{/admin/cup/cupStateModify(cupQR=${c.cupQR})}">Edit</a>
		                                <a class="dropdown-item" href="#">Remove</a>
		                              </div>
		                            </td>
		                          </tr>
                          	</th:block>
                          	<tr th:if="${#lists.isEmpty(cupStateList)}">
								<td colspan="6">보유한 컵이 없습니다.</td>
	                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                                <span class="text-muted sr-only">Action</span>
	                              </button>
	                              <div class="dropdown-menu dropdown-menu-right">
	                                <a class="dropdown-item" href="#">Edit</a>
	                                <a class="dropdown-item" href="#">Remove</a>
	                                <a class="dropdown-item" href="#">Assign</a>
	                              </div>
	                            </td>
							</tr>
                        </tbody>
                        <tfoot>
                        
							<tr>
								<td colspan="7">
									<a class="pages btn mb-2 btn-secondary" th:href="@{/admin/cup/cupStateManage}">처음으로</a>
									<a class="btn mb-2 btn-secondary" th:if="${currentPage>1}" th:href="@{/admin/cup/cupStateManage(currentPage=${currentPage-1})}">이전</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage>1}">이전</label>
										<div class="btn-group mr-2" role="group" aria-label="First group">
											<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}" >
												<a class="btn mb-2 btn-secondary " th:if="${currentPage != num}" th:href="@{/admin/cup/cupStateManage(currentPage=${num})}" th:text="${num}"></a>
												<label class="btn mb-2 btn-secondary current-page-btn" th:if="${currentPage == num}" th:text="${num}"></label>
											</th:block>
										</div>				
									<a class="btn mb-2 btn-secondary" th:if="${currentPage<lastPage}" th:href="@{/admin/cup/cupStateManage(currentPage=${currentPage+1})}">다음</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage<lastPage}">다음</label>
									<a class="pages btn mb-2 btn-secondary" th:href=@{/admin/cup/cupStateManage(currentPage=${lastPage})}>마지막으로</a>
								</td>
								<td class="btn-right-align">
									<a class="btn mb-2 btn-secondary" th:href="@{/admin/cup/addCupStateManage}">등록</a>
									<a class="btn mb-2 btn-secondary" th:href="@{/admin/cup/cupStateManage}">삭제</a>
								</td>
							</tr>
						</tfoot>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script>		
			$(function(){
		      $('#dataTable-1').DataTable({
			        autoWidth: true,
			        "lengthMenu": [
			          [16, 32, 64, -1],
			          [16, 32, 64, "All"]
			        ],
			        columnDefs: [{
			            targets: 0,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled'
			            
			         }
			         ,{
			            targets: $('#dataTable-1').find('th').length-1,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled',	           
			         	}
			         ]
						      	
				});
			$('#dataTable-1').find('.sorting_asc').toggleClass('sorting_asc');
			});
			
			 $('table').click((e) => {
			        if ($(e.target).is($('.allCheck'))) {
			          const isChecked = $(e.currentTarget)
			            .find('.allCheck')
			            .prop('checked');
			          $(e.currentTarget).find('.checks').prop('checked', isChecked);
			        }
			
			        if ($(e.target).is($('.checks'))) {
			          if (
			            $(e.currentTarget).find('.checks').length ==
			            $(e.currentTarget).find('.checks:checked').length
			          ) {
			            $(e.currentTarget).find('.allCheck').prop('checked', true);
			          } else $(e.currentTarget).find('.allCheck').prop('checked', false);
			        }
			      });
			
			      $('#delCheckBtn').click(function () {
			        $('.checks:checked').closest('tr').remove();
			      });
		</script>
	</th:block>
</html>