<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  

	  
<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">구구컵 재고 관리</h2>
             <p class="card-text">출고 가능 구구컵:</p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                          <tr>
                          	<th>No.</th>
                            <th>제휴업체 코드</th>
                            <th>사업장 명</th>
                            <th>매입/입고 수량</th>
                            <th>출고 가능 수량</th>
                            <th>출고 수량</th>
                            <th>비정상 재고 수량</th>
                            <th>비정상 재고 확인 유무</th>
                            <th>관리자 아이디</th>
                            <th>업데이트 날짜</th>
                          </tr>
                        </thead>
                        <tbody>
                        	<th:block th:unless="${#lists.isEmpty(cupStockList)}"  th:each="c : ${cupStockList}">
		                          <tr>
		                            <td th:text="${c.num}"></td>
		                            <td th:text="${c.partnerInfo}"></td>
		                            <td th:text="${c.partnerName}"></td>
		                            <td th:text="${c.inputAmount}"></td>
		                            <td th:text="${c.stockAmount}"></td>
		                            <td th:text="${c.outAmount}"></td>
		                            <td th:text="${c.abnormalAmount}"></td>
		                            <td th:text="${c.abnormalCheck}"></td>
		                            <td th:text="${c.adminId}"></td>
		                            <td th:text="${c.upDateTime}"></td>
		                          </tr>
                          	</th:block>
                          	<tr th:if="${#lists.isEmpty(cupStockList)}">
								<td colspan="9">보유한 컵이 없습니다.</td>
							</tr>
                        </tbody>
                        <tfoot>
                        
							<tr>
								<td colspan="9">
									<a class="pages btn mb-2 btn-secondary" th:href="@{/admin/cup/cupStockManage}">처음으로</a>
									<a class="btn mb-2 btn-secondary" th:if="${currentPage>1}" th:href="@{/admin/cup/cupStockManage(currentPage=${currentPage-1})}">이전</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage>1}">이전</label>
										<div class="btn-group mr-2" role="group" aria-label="First group">
											<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}" >
												<a class="btn mb-2 btn-secondary current-page-btn" th:if="${currentPage != num}" th:href="@{/admin/cup/cupStockManage}(currentPage=${num})}" th:text="${num}"></a>
												<label class="btn mb-2 btn-secondary current-page-btn" th:if="${currentPage == num}" th:text="${num}"></label>
											</th:block>
										</div>				
									<a class="btn mb-2 btn-secondary" th:if="${currentPage<lastPage}" th:href="@{/admin/cup/cupStockManage(currentPage=${currentPage+1})}">다음</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage<lastPage}">다음</label>
									<a class="pages btn mb-2 btn-secondary" th:href=@{/admin/cup/cupStockManage(currentPage=${lastPage})}>마지막으로</a>
								</td>
							</tr>
						</tfoot>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script>		
			$(function(){
			      $('#dataTable-1').DataTable({
				        autoWidth: true, 
				            targets: $('#dataTable-1').find('th').length-1,
				            searchable: false,
				            orderable: false,
				            className: 'sorting_disabled',	           
				         	}
				        
							      	
					);
				$('#dataTable-1').find('.sorting_asc').toggleClass('sorting_asc');
				});
		</script>
	</th:block>
</html>