<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">


<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">구구컵 상태 수정</h2>
             <p class="card-text">현재 구구컵 상태를 수정 합니다! </p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                      <!-- table -->
                    <form id="cupStateModifyForm" th:action="@{/admin/cup/cupStateModify}" method="post">
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                      	<tr>
                      		<th colspan="2">컵 상태 수정</th>
                      	</tr>
                      </thead>
                        <tbody th:object="${cupInfo}">
	                          <tr>
	                          <td>
	                          	<label for="cupQR" >컵 QR</label>
	                          </td>
	                          <td>
	                            <input type="text" id="cupQR" name="cupQR" th:value="*{cupQR}" readonly="readonly">
	                          </td>
	                          </tr>
	                          <tr>
	                          	<td>
	                          		<label for="staticCode" >컵 현재 상태</label>
	                          	</td>
	                            <td>
		                           	<select id="staticCode" name="staticCode">
											<option value="">====현재 상태====</option>
											<th:block th:unless="${#lists.isEmpty(cupStaticInfo)}"
										  			  th:each="c : ${cupStaticInfo}">
											<option 
													th:selected="${c.staticCode} == *{staticCode}"
													th:value="${c.staticCode}"
													th:text="|${c.staticCode} :::: ${c.staticCodeContent}|">
													<!-- | : 자바스크립트의 백틱 역할 -->
											</option>
											<!-- db의 컬럼명을 화면에 노출시키지 않으려고 할 때 value를 변수로 사용한다. -->
											<!-- 서버단에서 처리하기 위해서는 MemberService 클래스에서 searchKey를 m_id 등 컬럼명으로 바꿔주는 작업을 추가해야 한다. -->

											</th:block>
									</select>	
	                             </td>
	                          </tr>
	                          <tr> 
	                            <td>
	                            	<label for="adminName" >관리자 ID</label>
	                            </td>
	                           <td>
		                           	<select id="adminName" name="adminName">
											<option value="">====관리자 선택====</option>
											<th:block th:unless="${#lists.isEmpty(adminInfo)}"
										  			  th:each="a : ${adminInfo}">
											<option 
													th:selected="${a.userId} == *{adminName}"
													th:value="${a.userId}"
													th:text="${a.userId}">
											</option>
											<!-- db의 컬럼명을 화면에 노출시키지 않으려고 할 때 value를 변수로 사용한다. -->
											<!-- 서버단에서 처리하기 위해서는 MemberService 클래스에서 searchKey를 m_id 등 컬럼명으로 바꿔주는 작업을 추가해야 한다. -->

											</th:block>
									</select>	
	                             </td>
	                          </tr>
	                          <tr>
								<td colspan="2">
									<button type="submit" id="modifyCupInfoBtn" class="btn mb-2 btn-secondary">등록</button>
									<button type="reset" id="resetBtn" class="btn mb-2 btn-secondary">입력취소</button>
								</td>
			                  </tr>
                        </tbody>                     
                      </table>
                     </form>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
</html>