<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  

	  
<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
          <a class="return-tag" href="/admin/cup/discardCupManage">폐기컵 관리</a>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                     <div class="download-file-discardForm">
                    	<table class="table table-borderless">
                    		<thead>
                    			<tr>
	                    		<th  colspan="4">
	                     			<p class="upload-file-discard-p">💦세척업체에게 현재 올려준 파일</p>
	                     		</th>
	                     		</tr>
							</thead>
							<tbody class="discard-height">
								<tr  th:if="${not #lists.isEmpty(fileList)}" th:each="l, index : ${fileList}">
									<td th:text="${index.count}"></td>
									<td colspan="2" th:text="${l.fileOriginalName}"></td>
									
									<td class="td-class-file">
										<a class="btn mb-2 btn-light" th:href="@{/admin/cup/file/download(fileIdx=${l.fileIdx})}">다운로드</a>
										<a class="delete-file btn mb-2 btn-light" th:href="@{#}" th:data-file-idx="${l.fileIdx}">삭제</a>
									</td>
								</tr>
								<tr th:unless="${not #lists.isEmpty(fileList)}">
									<td colspan="4">목록이 없습니다.</td>
								</tr>
							</tbody>
						</table>
					</div>
                     <div class="upload-file-discardForm">
                    	<form id="fileUploadForm" th:action="@{/admin/cup/file/upload}" method="post" enctype="multipart/form-data">
                    		<table class="table table-borderless">
                    		<thead>
                    			<tr>
	                    		<th  colspan="2">
	                     			<p class="upload-file-discard-p">💦세척업체가 다운 받아야 하는 파일 업로드</p>
	                     		</th>
	                     		</tr>
							</thead>
                    		<tbody>
                    			<tr>
                    			<td>
									<input type="file" name="uploadfile" multiple="multiple"/>
								</td>
								<td class="td-class-file">
								<button id="fileUploadBtn" class="btn mb-2 btn-light" type="button">업로드</button>
								</td>
								</tr>
                    		</tbody>
							</table>
						</form>
					</div>
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                          <tr>
                           <th>
                            	<div class="custom-control custom-checkbox">
	                               <input type="checkbox" class="custom-control custom-checkbox checkbox allCheck" >
                              	</div>
                            </th>
                            <th>NO.</th>
                           	<th>사업장 코드</th>
                            <th>컵 QR</th>
                            <th>업데이트 날짜</th>
                            <th>관리자 ID</th>
                          </tr>
                        </thead>
                        <tbody>
                        	<th:block th:unless="${#lists.isEmpty(discardCupList)}"  th:each="d,state : ${discardCupList}">
		                          <tr>
		                            <td>
		                              <div class="custom-control custom-checkbox">
		                                <input type="checkbox" class="custom-control custom-checkbox checkbox checks" th:data-cup-qr="${d.cupQR}">
		                              </div>
		                            </td>
		                            <td th:text="${d.num}"></td>
		                            <td th:text="${d.partnerInfo}"></td>
		                            <td th:text="${d.cupQR}"></td>
		                            <td th:text="${d.upDateTime}"></td>
		                            <td th:text="${d.userId}"></td>
		                          </tr>
                          	</th:block>
                          	<tr th:if="${#lists.isEmpty(discardCupList)}">
								<td colspan="6">폐기컵이 없습니다.</td>
	              			</tr>
                        </tbody>
                      </table>
                      <div class="colSpan-left">
                     	 <button type="button" class="btn mb-2 btn-secondary" id="delCheckBtn" >삭제</button>
                      </div>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:inline="javascript">
		/* 	let msg = '[[${msg}]]';
			console.log(msg);
			if(msg != 'null') alert(msg);
			 */
			$(function(){
		      $('#dataTable-1').DataTable({
			        autoWidth: true,
			        "lengthChange": false, 
	                 "pageLength" : 15,
	                 "searching" : false,
	                 "info": false,
			        columnDefs: [{
			            targets: 0,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled'
			            
			         }
			         ,{
			            targets: $('#dataTable-1').find('th').length-1,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled',	           
			         	}
			         ]
						      	
				});
			$('#dataTable-1').find('.sorting_asc').toggleClass('sorting_asc');
			});
			
			 $('table').click((e) => {
			        if ($(e.target).is($('.allCheck'))) {
			          const isChecked = $(e.currentTarget)
			            .find('.allCheck')
			            .prop('checked');
			          $(e.currentTarget).find('.checks').prop('checked', isChecked);
			        }
			
			        if ($(e.target).is($('.checks'))) {
			          if (
			            $(e.currentTarget).find('.checks').length ==
			            $(e.currentTarget).find('.checks:checked').length
			          ) {
			            $(e.currentTarget).find('.allCheck').prop('checked', true);
			          } else $(e.currentTarget).find('.allCheck').prop('checked', false);
			        }
			      });
			
			 //삭제처리
			 $('#delCheckBtn').click(function(e){
				  //배열 선언
					const cupQrArr = [];
				  //check 클래스 중 속성이 checked된 요소만 변수에 담아줌
					const $checkedEle = $('.checks:checked');
				  //배열 순회
					$checkedEle.each((idx, item) => {
						//input태그에 속성인 th:data-cup-qr (cup-qr은 자동으로 cupQr로 변환)
						let cupQr = $(item).data('cupQr');
						//베열에 cupQr 담아줌
						cupQrArr.push(cupQr);
					})
					console.log(cupQrArr);
				  	//배열의 길이가 0이 아니면
					if(cupQrArr.length != 0){
						//새로운 폼 생성 ->jquery
						const newForm = $('<form></form>');
						//새로운 폼에 set attribute	
						newForm.attr("method","post");
						newForm.attr("action","/admin/cup/discardCupRemove");
						// create element & set attribute (input)
						//$ 제이쿼리 배열을 순회하는데 순회하는 배열은 괄호 안쪽에서 부름
						$.each(cupQrArr, (idx, item) => {
							newForm.append($('<input/>', {type: 'hidden', name: 'cupQR', value:item}));
						})
						// append form (to body) 
						// newForm은 이미 제이쿼리 문법으로 선언
						newForm.appendTo('body');
						let result = confirm("정말로 삭제하시겠습니까?")
						if(result){
							alert("삭제 완료!!")
							newForm.submit();
						}else alert("취소 되었습니다.")
			
					}
				});	
			 //선택된 파일이 있을 때만 submit
			 $('#fileUploadBtn').click(function(e){
				 
				 const $fileUploadVal = $('#fileUploadForm input').val()
				 console.log($fileUploadVal);
					if($fileUploadVal){
					 $('#fileUploadForm').submit();
			 	 }else{
			 		 alert("업로드 할 파일을 선택해 주세요!")
			 	 }
			 });
			 //첨부파일 삭제
			 const $deleteAEles = document.querySelectorAll('.delete-file');
				
				$deleteAEles.forEach(item => {
					item.addEventListener('click', function(e){
						e.preventDefault();
						let isDelete = confirm('정말로 삭제하시겠습니까?')
						if(isDelete){					
							const fileIdx = this.dataset.fileIdx;
							location.href = `/admin/cup/file/deleteFile?fileIdx=${fileIdx}`;
						}
					});
				});
		</script>
	</th:block>
</html>




