<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	  
	   <!-- Wizard -->
    <link rel="stylesheet" th:href="@{/admin/css/jquery.steps.css}">
    <link rel="stylesheet" th:href="@{/user/css/wizard.css}">
	  
	<th:block layout:fragment="customContents">  
		<!-- ================ start banner area ================= -->
		<section class="page-banner-area" id="category">
			<div class="container h-100">
				<div class="text-center">
					<h1>포인트 환급 신청</h1>
					<nav aria-label="breadcrumb" class="banner-breadcrumb">
		 				<ol class="breadcrumb">
							<li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
							<li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
							<li class="breadcrumb-item active" aria-current="page">포인트 환급 신청</li>
		 				</ol>
					</nav>
				</div>
			</div>
		</section>
		<!-- ================ end banner area ================= -->
		<!--================Point table Area =================-->
		<section class="order_details section-margin--small">
	    	<div class="container">
	    		<h3 class="page-title">포인트 환급 신청</h3>
	    		<div class="card my-4">
	                <div class="card-body-wizard">
						<div id="example-basic">
							<h3 class="col-lg-4 col-md-4 col-sm-12 col-xs-12">나의 계좌 관리</h3>
							<section>
								<form id="accountInsertForm">
									<div class="form-group">
										<div class="noBank" th:if="${bankName == 'notSelect'}">- 본인 명의 계좌만 등록 가능합니다.</div>
										<div class="yesBank" th:if="${bankName != 'notSelect'}">- 계좌가 등록되어 있습니다.</div>
										<div>- 계좌번호를 잘못 입력하여 환급된 경우 구구프로젝트에서는 책임지지 않습니다.</div>
		                        	</div>
									<div class="form-group">
		                          		<label for="accountUserName">예금주</label>
		                          		<input class="form-control" id="accountUserName" name="accountUserName" type="text" th:value="${accountName}" readonly="readonly">
		                        	</div>
			                        <div class="form-group">
			                          	<label for="bankName">은행 *</label>
			                          	<select class="form-control" id="bankName" name="bankName" th:disabled="${bankName != 'notSelect'}">
			                          		<option value="">== 은행을 선택해주세요. ==</option>
			                          		<option value="신한" th:selected="${bankName == '신한'}">신한은행</option>
			                          		<option value="우리" th:selected="${bankName == '우리'}">우리은행</option>
			                          		<option value="국민" th:selected="${bankName == '국민'}">국민은행</option>
			                          		<option value="토스" th:selected="${bankName == '토스'}">토스뱅크</option>
			                          		<option value="카카오" th:selected="${bankName == '카카오'}">카카오뱅크</option>
			                          		<option value="새마을금고" th:selected="${bankName == '새마을금고'}">새마을금고</option>
			                          		<option value="수협" th:selected="${bankName == '수협'}">수협</option>
			                          		<option value="농협" th:selected="${bankName == '협'}">농협</option>
			                          		<option value="케이뱅크" th:selected="${bankName == '케이뱅크'}">케이뱅크</option>
			                          		<option value="전북" th:selected="${bankName == '전북'}">전북</option>
			                          	</select>
			                        </div>
									<div class="form-group">
										<label for="accountNum">계좌번호 *</label>
										<input class="form-control" id="accountNum" name="accountNum" type="text" th:value="${bankName != 'notSelect'} ? ${accountNum} : ''" th:placeholder="${bankName == 'notSelect'} ? ${accountNum} : ''" th:readonly="${bankName != 'notSelect'}">
									</div>
									<div class="colSpan-center">
										<label for="accountInsertBtn"></label>
										<button th:if="${bankName == 'notSelect'}" class="btn mb-2 btn-secondary margin-btn" id="accountInsertBtn" name="accountInsertBtn" type="button">등록</button>
										<label for="accountModifyBtn"></label>
										<button th:if="${bankName != 'notSelect'}" class="btn mb-2 btn-secondary margin-btn" id="accountModifyBtn" name="accountModifyBtn" type="button">수정</button>
									</div>
								</form>
							</section>
							<h3 class="col-lg-4 col-md-4 col-sm-12 col-xs-12">포인트 환급 신청</h3>
							<section>
								<form id="pointInsertForm">
									<div class="form-group">
										<span th:text="${session.SNAME}"></span>
		                          		<span>회원님의 현재 보유 포인트는</span>
		                          		<span class="currentPoint" th:text="${currentPoint}"></span>
		                          		<span>포인트 입니다.</span>
		                          		<div>- 최소 환급 신청 가능 포인트는 1,000포인트입니다.</div>
		                          		<div>- 100포인트 단위로 환급 신청 가능합니다.</div>
		                          		<div>- 환급 신청 포인트와 환급 수수료 10%를 포함한 포인트를 보유하고 있어야 환급 신청이 가능합니다.</div>
		                        	</div>
									<div class="form-group">
		                          		<label for="refundPoint">환급 신청 포인트 (수수료 포함)*</label>
		                          		<input class="form-control" id="refundPoint" name="refundPoint" type="text" placeholder="환급 신청할 포인트를 입력해주세요.">
		                        	</div>
			                        <div class="form-group">
		                          		<label for="refundFee">환급 수수료</label>
		                          		<input class="form-control" id="refundFee" name="refundFee" type="text" readonly="readonly">
		                        	</div>
									<div class="form-group">
										<label for="willRefundPoint">환급 예정 포인트 (환급 신청 포인트에서 환급 수수료를 제한 금액)</label>
										<input class="form-control" id="willRefundPoint" name="willRefundPoint" type="text" readonly="readonly">
									</div>
									<div class="colSpan-center">
										<label for="pointCalBtn"></label>
										<button class="btn mb-2 btn-secondary margin-btn" id="pointCalBtn" name="pointCalBtn" type="button">환급 포인트 계산</button>
									</div>
								</form>
							</section>
							<h3 class="col-lg-4 col-md-4 col-sm-12 col-xs-12">포인트 환급 신청 완료</h3>
							<section>
								<div class="form-group">
									<div>- 포인트 환급 신청이 완료되었습니다.</div>
	                        	</div>
								<div class="form-group">
	                          		<label for="accountUserNameOk">예금주</label>
	                          		<input class="form-control" id="accountUserNameOk" name="accountUserNameOk" type="text" readonly="readonly">
	                        	</div>
		                        <div class="form-group">
		                          	<label for="bankNameOk">은행</label>
	                          		<input class="form-control" id="bankNameOk" name="bankNameOk" type="text" readonly="readonly">
		                        </div>
								<div class="form-group">
									<label for="accountNumOk">계좌번호</label>
									<input class="form-control" id="accountNumOk" name="accountNumOk" type="text" readonly="readonly">
								</div>
								<div class="form-group">
									<label for="refundPointOk">환급 완료 포인트 (환급 신청 포인트에서 환급 수수료를 제한 금액)</label>
									<input class="form-control" id="refundPointOk" name="refundPointOk" type="text" readonly="readonly"> 
								</div>
								<div class="form-group">
									<label for="currentPointOk">환급 후 포인트</label>
									<input class="form-control" id="currentPointOk" name="currentPointOk" type="text" readonly="readonly"> 
								</div>
							</section>
						</div>						
	                </div> <!-- .card-body -->
				</div> <!-- .card -->
			</div>
		</section>
	  <!--================End Order Details Area =================-->
	</th:block>

	<th:block layout:fragment="customJs">
		<script>
		// 유효성 검사 함수
		  const validCheck = (element) => {
		    let data = $(element).val();
		    let formGroup = $(element).closest('.form-group');

		    if ($(element).is('input')) {
		      // 유효성 검사
		      if (typeof data == 'undefined' || data == null || data == '') {
		        if (formGroup.find('.wizardValidCheck'))
		          formGroup.find('.wizardValidCheck').remove();
		        formGroup.append(
		          `<span class="wizardValidCheck">* 필수 입력 항목입니다.</span>`
		        );

		        formGroup.focus();

		        return false;
		      }
		      // 숫자만 입력했는지 검사
		      if (isNaN(data) && !$(element).attr('readonly')) {
		        if (formGroup.find('.wizardValidCheck'))
		          formGroup.find('.wizardValidCheck').remove();
		        formGroup.append(
		          `<span class="wizardValidCheck">* 숫자만 입력 가능합니다.</span>`
		        );

		        formGroup.focus();

		        return false;
		      }
		      // select 유효성 검사
		    } else if ($(element).is('select')) {
		      if (data == '') {
		        if (formGroup.find('.wizardValidCheck'))
		          formGroup.find('.wizardValidCheck').remove();
		        formGroup.append(
		          `<span class="wizardValidCheck">필수 선택 항목입니다.</span>`
		        );

		        formGroup.focus();

		        return false;
		      }
		    }

		    if ($('.wizardValidCheck')) $('.wizardValidCheck').remove();
		    return true;
		  };
		  
		$(function () {
			 // baskcWizard 탭 설정
			  const basicWizard = $('#example-basic');
			  basicWizard.length &&
			    basicWizard.steps({
			      headerTag: 'h3',
			      bodyTag: 'section',
			      transitionEffect: 'fade',
			      autoFocus: true,
			    });
			  basicWizard.show();
			  
			  $('a[href="#next"]').addClass('nextBtn');
			  
			  // 신청 완료 버튼 속성 수정
			  $('.steps,.actions').click((e) => {
			    e.stopPropagation;
			    const selectSection = $('.steps').find('.current').find('a').attr('id');
			    $('#finishBtn').closest('li').addClass('disabled');
			    if (selectSection == 'example-basic-t-1') {
			      $('ul li')
			        .last()
			        .find('a')
			        .attr('id', 'finishBtn')
			        .attr('href', '#');
			      $('#finishBtn')
			        .closest('li')
			        .attr('aria-hidden', 'false')
			        .attr('style', '');
			    } else {
			      $('#finishBtn')
			        .closest('li')
			        .attr('aria-hidden', 'true')
			        .attr('style', 'display: none;');			      
			    }
			    
			 });

			  // input 폼 placeholder 이벤트
			  let placeholder;
			  $('input').on('focus', (e) => {
			    placeholder = $(e.target).attr('placeholder');
			    $(e.target).removeAttr('placeholder');
			  });

			  $('input').on('blur', (e) => {
			    $(e.target).attr('placeholder', placeholder);
			  });

			  
			  // 유효성 검사 후 submit
			  $('#accountInsertBtn').click(function () {
			    const validateEle = $('#accountInsertForm').find('select, input');
			    let isSubmit = true;
			    validateEle.each((idx, item) => {
			      if (!validCheck(item)) {
			        isSubmit = false;
			        return false;
			      }
			    });

			    let bankName = $('#bankName').val();
			    let accountNum = $('#accountNum').val();

			    if (isSubmit) {
			      const requestData = $.ajax({
			        url: '/point/addUserAccount',
			        method: 'POST',
			        data: { 'bankName': bankName, 'accountNum': accountNum },
			      });
			      requestData.done(function (response) {
			        if (response) {
			          $('#accountInsertForm').find('input').attr('readonly', 'readonly');
			          $('.current').closest('div').addClass('disabled');
			          alert('등록 되었습니다.');
			          $('.noBank').after(
			            '<div class="yesBank">- 계좌가 등록되어 있습니다.</div>'
			          );
			          $('.noBank').remove();
			          let modifyBtn = '<label for="accountModifyBtn"></label>';
			          modifyBtn +=
			            '<button class="btn mb-2 btn-secondary margin-btn" id="accountModifyBtn" name="accountModifyBtn" type="button">수정</button>';
			          $('#accountInsertBtn').after(modifyBtn);
			          $('#accountInsertBtn').remove();
			          
			          $('.nextBtn').attr('href','#next');
			        }
			      });
			      requestData.fail(function (jqXHR, textStatus) {
			        alert('Request failed: ' + textStatus);
			      });
			    }
			  });

			  let accountUserName;
			  let bankName;
			  let accountNum;
			  // 수정 버튼 눌렀을 때
			  $(document).on('click', '#accountModifyBtn', (e) => {
			    accountUserName = $('#accountUserName').val();
			    bankName = $('#bankName').val();
			    accountNum = $('#accountNum').val();

			    $('#accountNum').removeAttr('readonly');
			    $('.nice-select').removeClass('disabled');

			    let modifyBtn = '<label for="accountModifyConfirmBtn"></label>';
			    modifyBtn +=
			      '<button class="btn mb-2 btn-secondary margin-btn" id="accountModifyConfirmBtn" name="accountModifyConfirmBtn" type="button">수정 확인</button>';
			    modifyBtn += '<label for="accountModifyCancelBtn"></label>';
			    modifyBtn +=
			      '<button class="btn mb-2 btn-secondary margin-btn" id="accountModifyCancelBtn" name="accountModifyCancelBtn" type="button">수정 취소</button>';
			    $('#accountModifyBtn').after(modifyBtn);
			    $('#accountModifyBtn').remove();
			  });

			  // 수정 취소 눌렀을 때 리셋
			  $(document).on('click', '#accountModifyCancelBtn', (e) => {
			    $('#accountUserName').val(accountUserName);
			    $('#bankName').val(bankName);
			    $('#accountNum').val(accountNum);

			    $('#accountInsertForm').find('input').attr('readonly', 'readonly');
			    $('.current').closest('div').addClass('disabled');

			    let modifyBtn = '<label for="accountModifyBtn"></label>';
			    modifyBtn +=
			      '<button class="btn mb-2 btn-secondary margin-btn" id="accountModifyBtn" name="accountModifyBtn" type="button">수정</button>';
			    $('#accountModifyCancelBtn').after(modifyBtn);
			    $('#accountModifyCancelBtn').remove();
			    $('#accountModifyConfirmBtn').remove();
			  });

			  // 수정 확인 눌렀을 때 데이터베이스 update
			  $(document).on('click', '#accountModifyConfirmBtn', (e) => {
			    const validateEle = $('#accountInsertForm').find('select, input');
			    let isSubmit = true;
			    validateEle.each((idx, item) => {
			      if (!validCheck(item)) {
			        isSubmit = false;
			        return false;
			      }
			    });

			    let bankName = $('#bankName').val();
			    let accountNum = $('#accountNum').val();

			    if (isSubmit) {
			      const requestData = $.ajax({
			        url: '/point/modifyUserAccount',
			        method: 'POST',
			        data: { 'bankName': bankName, 'accountNum': accountNum },
			      });
			      requestData.done(function (response) {
			        if (response) {
			          $('#accountInsertForm').find('input').attr('readonly', 'readonly');
			          $('.current').closest('div').addClass('disabled');

			          alert('수정 되었습니다.');
			          let modifyBtn = '<label for="accountModifyBtn"></label>';
			          modifyBtn +=
			            '<button class="btn mb-2 btn-secondary margin-btn" id="accountModifyBtn" name="accountModifyBtn" type="button">수정</button>';
			          $('#accountModifyConfirmBtn').after(modifyBtn);
			          $('#accountModifyConfirmBtn').remove();
			          $('#accountModifyCancelBtn').remove();
			          
			          $('.nextBtn').attr('href','#next');
			        }
			      });
			    }
			  });
			  
			  
			 if (!$('#accountModifyBtn').length) $('a[href="#next"]').attr('href','#');
			  
			  $(document).on('click', '.nextBtn',  e => {
				  // 수정 버튼이 없으면..(계좌 미등록 상태)
				if ($('#accountModifyBtn').length === 0) {
				    alert('계좌를 먼저 등록해주세요.');
  				}	  
			   
			});
		});
		
		let currentPoint = parseInt($('.currentPoint').text());
		// 환급 포인트 계산 버튼 클릭시 유효성 검사 등.. 후 submit
		let finishBtnOk = $('#pointInsertForm').find('.wizardValidCheckOk');
		$(document).on('click','#pointCalBtn',  e => {
			$('.wizardValidCheckOk').remove();
			 const validateEle = $('#refundPoint');
			    let isSubmit = true;
				if(!validCheck(validateEle)) {
					isSubmit = false; 
					return false;
				}			        
			let refundPoint = $('#refundPoint').val();
			let refundFee = refundPoint/10;
						
			// 1000원 미만일 시 환급 불가
			if (refundPoint < 1000) $('#refundPoint').after(`<span class="wizardValidCheck">1,000원 이상 환급 가능합니다.</span>`);
			// 100원 단위가 아닐 시 환급 불가
			else if (refundPoint % 100 != 0) $('#refundPoint').after(`<span class="wizardValidCheck">100원 단위로 환급 가능합니다.</span>`);
			// 보유 포인트를 초과하면 환급 불가
			else if (refundPoint > currentPoint ) $('#refundPoint').after(`<span class="wizardValidCheck">보유 포인트가 <환급 포인트 + 수수료> 보다 적습니다.</span>`);
			// 정상적인 상황
			else {
				$('.colSpan-center').before(`<div class="wizardValidCheckOk">환급 신청이 가능합니다.</div>`);
				$('#finishBtn').attr('href','#next');
				$('#finishBtn').closest('li').removeClass('disabled');				
			}
			// 수수료 계산
			let willRefundPoint = refundPoint-refundFee;
			$('#refundFee').val(refundFee);
			$('#willRefundPoint').val(willRefundPoint);		
			
			finishBtnOk = $('#pointInsertForm').find('.wizardValidCheckOk');
				
		}); 	
		// 환급 신청 가능 메세지 지우기
		$(document).on('click','button:not(#pointCalBtn),a:not(#finishBtn)',  e => {
			$('.wizardValidCheckOk').remove();
		});
		
		// 신청 완료 버튼 클릭시 포인트 차감
		$(document).on('click','#finishBtn',  e => {
			if(finishBtnOk.length === 0) alert('먼저 환급 포인트 계산을 진행해주세요.');
			else{
				let usePoint = $('#refundPoint').val();
				console.log(usePoint);
				
				const requestData = $.ajax({
			        url: '/point/addPointRefundList',
			        method: 'GET',
			        data: { 'usePoint' : usePoint },
			      });
			      requestData.done(function (response) {
			        if (response) {		        	
			        	const accountUserName = $('#accountUserName').val();
			        	const bankName = $('#bankName').val();
			        	const accountNum = $('#accountNum').val();
			        	const willRefundPoint = $('#willRefundPoint').val();
			        	const refundPoint = $('#refundPoint').val();
			        	
			        	console.log(refundPoint);
			        	console.log(currentPoint);
			        	console.log(currentPoint + refundPoint);
			        	
			        	$('#accountUserNameOk').val(accountUserName);
			        	$('#bankNameOk').val(bankName);
			        	$('#accountNumOk').val(accountNum);
			        	$('#refundPointOk').val(willRefundPoint);
			        	$('#currentPointOk').val(currentPoint-refundPoint);
			    		
			        	$('.actions').remove();
			        	
			        	$('.steps').find('.done').find('a').attr('href','');
			        
			        }
			      });
			      requestData.fail(function (jqXHR, textStatus) {
			        alert('Request failed: ' + textStatus);
			      });
			}
		});
		
		
		

		</script>
	</th:block>
</html>