<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao 작성 -->
<!-- namespace : implememts와 같은 기능 -->
<mapper namespace="ks47team03.admin.mapper.AdminPointMapper">

	<select id="getPointRefundStandard" parameterType="map" resultType="map">
		/* 5-2 포인트 환급 기준 조회 */
		SELECT
			CAST(SUBSTRING_INDEX(point_refund_standard_code,'code',-1) AS UNSIGNED) AS num,
			point_refund_standard_code AS pointRefundStandardCode,
			point_save_use_type AS pointSaveUseType,
			minimum_refund_standard AS minimumRefundStandard,
			refund_unit AS refundUnit,
			refund_fee_rate AS refundFeeRate,
			set_datetime AS setDateTime,
			admin_id AS adminId,
			up_datetime AS upDateTime
		FROM 
			point_refund_standard
		ORDER BY num
		<if test="currentFirstIndex != null and currentFirstIndex > -1">
			LIMIT #{currentFirstIndex},#{rowPerPage};
		</if>	
	</select>

	<select id="getPointSaveStandard" parameterType="map" resultType="map">
		/* 4-2 포인트 적립 기준 조회 */
		SELECT
			CAST(SUBSTRING_INDEX(PSS.point_save_standard_code,'code',-1) AS UNSIGNED) AS num,
			PSS.point_save_standard_code AS pointSaveStandardCode,
			GS.grade_name AS gradeName,
			PSS.grade_attain_point AS gradeAttainPoint,
			PSS.use_save_point AS useSavePoint,
			PSS.set_datetime AS setDateTime,
			PSS.admin_id AS adminId,
			PSS.up_datetime AS upDateTime
		FROM
			point_save_standard AS PSS
			INNER JOIN
			grade_standard AS GS
			ON
			PSS.grade_standard_code = GS.grade_standard_code
		ORDER BY num
		<if test="currentFirstIndex != null and currentFirstIndex > -1">
			LIMIT #{currentFirstIndex},#{rowPerPage};
		</if>	
	</select>
	
	<select id="getPointTypeStandard" parameterType="map" resultType="map">
		/* 3-2 포인트 타입 기준 조회 */
		SELECT
			CAST(SUBSTRING_INDEX(point_save_use_type_code,'code',-1) AS UNSIGNED) AS num,
			point_save_use_type_code AS pointSaveUseTypeCode,
			point_save_use_type AS pointSaveUseType,
			set_datetime AS setDateTime,
			admin_id AS adminId,
			up_datetime AS upDateTime
		FROM
			point_save_use_type
		ORDER BY num
		<if test="currentFirstIndex != null and currentFirstIndex > -1">
			LIMIT #{currentFirstIndex},#{rowPerPage};
		</if>		
	</select>
	
	<select id="getPointExpireStandard" parameterType="map" resultType="map">
		/* 2-2 포인트 만료 기간 기준 조회 */
		SELECT
			CAST(SUBSTRING_INDEX(point_expire_standard_code,'code',-1) AS UNSIGNED) AS num,
			point_expire_standard_code AS pointExpireStandardCode,
			point_expire AS pointExpire,
			set_datetime AS setDateTime,
			admin_id AS adminId,
			up_datetime AS upDateTime
		FROM
			point_expire_standard
		ORDER BY num
		<if test="currentFirstIndex != null and currentFirstIndex > -1">
			LIMIT #{currentFirstIndex},#{rowPerPage};
		</if>	
	</select>
	

	<delete id="delPointMaxCountStandard" parameterType="String">
		/* 1-5 하루 최대 적립 포인트 횟수 기준 삭제 */
	</delete>

	<update id="modifyPointMaxCountStandard" parameterType="String">
		/* 1-4 하루 최대 적립 포인트 횟수 기준 수정 */
	</update>
	
	<insert id="addPointMaxCountStandard" parameterType="map">
		/* 1-3 하루 최대 적립 포인트 횟수 기준 등록 */
		
	</insert>
	
	<select id="getPointMaxCountStandard" parameterType="map" resultType="map">
		/* 1-2 하루 최대 적립 포인트 횟수 기준 조회 */
		SELECT
			DMC.day_maximum_count_code AS dayMaximumCountCode,
			DMC.user_maximum_count AS userMaximumCount,
			DMC.set_datetime AS setDateTime,
			DMC.admin_id AS adminId,
			DMC.up_datetime AS upDateTime
		FROM
			day_maximum_count AS DMC
		WHERE
			DMC.day_maximum_count_code LIKE'%point%'
		<if test="currentFirstIndex != null and currentFirstIndex > -1">
			LIMIT #{currentFirstIndex},#{rowPerPage};
		</if>	
	</select>
	
	<select id="getPointStandardCount" parameterType="String" resultType="int">
		/* 2,3,4,5-1 데이터 개수 조회 */
		SELECT
			COUNT(*)
		FROM
			${tableName};
	</select>
	
	<select id="getPointMaxCountStandardCount" resultType="int">
		/* 1-1 하루 최대 적립 포인트 횟수 기준 개수 조회 */
		SELECT
			COUNT(*)
		FROM
			day_maximum_count
		WHERE
			day_maximum_count_code LIKE'%point%';
	</select>

</mapper>