<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao 작성 -->
<!-- namespace : implememts와 같은 기능 -->
<mapper namespace="ks47team03.admin.mapper.AdminPointMapper">

	<delete id="delPointMaxCountStandard" parameterType="String">
		/* 하루 최대 적립 포인트 횟수 기준 삭제 */
	</delete>

	<update id="modifyPointMaxCountStandard" parameterType="String">
		/* 하루 최대 적립 포인트 횟수 기준 수정 */
	</update>
	
	<insert id="addPointMaxCountStandard" parameterType="map">
		/* 하루 최대 적립 포인트 횟수 기준 등록 */
		
	</insert>
	
	<select id="getPointMaxCountStandard" parameterType="map" resultType="map">
		/* 하루 최대 적립 포인트 횟수 기준 조회 */
		SELECT
			DMC.day_maximum_count_code AS dayMaximumCountCode,
			DMC.user_maximum_count AS userMaximumCount,
			DMC.set_datetime AS setDateTime,
			DMC.admin_id AS adminId,
			DMC.up_datetime AS upDateTime
		FROM
			day_maximum_count AS DMC
		WHERE
			DMC.day_maximum_count_code LIKE'%point%'
		<if test="startIndex != null and startIndex > -1">
			LIMIT #{currentFirstIndex},#{rowPerPage};
		</if>;		
	</select>
	
	<select id="getPointMaxCountStandardCount" resultType="int">
		/* 하루 최대 적립 포인트 횟수 기준 개수 조회 */
		SELECT
			COUNT(*)
		FROM
			day_maximum_count
		WHERE
			day_maximum_count_code LIKE'%point%';
	</select>

</mapper>