<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao 작성 -->
<!-- namespace : implememts와 같은 기능 -->
<mapper namespace="ks47team03.admin.mapper.AdminCommonMapper">
	<resultMap type="User" id="userResultMap">
		<!-- id태그는 조회시 테이블의 PK(기본키) -->
		<id 	column="user_id" 		property="userId"/>
		<!-- result태그는 조회시 테이블의 일반컬럼 혹은 외래키 -->
		<result column="user_pw" 		property="userPw"/>
		<result column="user_name" 	property="userName"/>
		<result column="user_level" 	property="userLevel"/>
		<result column="user_Idcard_number" 	property="userIdcardnumber"/>
		<result column="user_addr" 	property="userAddr"/>
		<result column="user_email" property="userEmail"/>
		<result column="user_phone" property="userPhone"/>
		<result column="user_nick" property="userNick"/>
		<result column="user_sms_check" property="userSmscheck"/>
		<result column="user_email_check" property="userEmailcheck"/>
		<result column="static_code" property="staticCode"/>
		<result column="user_join_datetime" property="userJoindatetime"/>
		<result column="code_large_type" property="codeLargetype"/>
		<result column="code_middle_type" property="codeMiddletype"/>
		<result column="latitude" property="latitude"/>
		<result column="longitude" property="longitude"/>
	</resultMap>



	<select id="getGradeManageList" parameterType="map" resultType="map">
		/* 회원등급 관리 */
		SELECT
			g.grade_manage_code					AS gradeManagecode,
			g.grade_standard_code				AS gradeStandardcode,
			g.past_grade_name					AS pastGradename,	
			g.now_grade_name					AS nowGradename,
			g.user_id							AS userId,
			g.user_use_count					AS userUsecount,
			cast(g.user_grade_change_datetime 	AS CHAR(20))	AS userGradechangedatetime,
			g.admin_id							AS adminId
		FROM 
			grade_manage as g

		<if test="startIndex != null and startIndex > -1 ">
			LIMIT #{startIndex},#{rowPerPage};
		</if>
	</select> 
	<select id="getGradeManageListCount" parameterType="map" resultType="int">
		/*회원 등급 전체 행의 갯수*/
		SELECT
			COUNT(*)
		FROM
			grade_manage as g;
		
	</select> 


	<select id="getadminIdList" resultType="User">
	/*관리자 아이디 조회*/
		SELECT
		 	um.user_id AS userId
		FROM
		 	user_manage AS um
		WHERE
			left(um.user_id,5) ='admin';
	
	</select>
	
	<delete id="removeUser" parameterType="List">
	/*체크된 회원 삭제*/
		DELETE FROM user_manage
		WHERE
			user_id IN
			
    	<foreach collection="list" item="item" index="i" open="(" separator="," close=")">
      		#{item}
    	</foreach>
	</delete>
	
	<update id="modifyUser" parameterType="User">
		/* 회원수정 */
		UPDATE user_manage AS u
		<set>
			<if test="userId != null and userId != ''">
				u.user_id = #{userId},
			</if>
			<if test="userPw != null and userPw != ''">
				u.user_pw = #{userPw},
			</if>
			<if test="userName != null and userName != ''">
				u.user_name = #{userName},
			</if>
			<if test="userLevel != null and userLevel != ''">
				u.user_level = #{userLevel},
			</if>
			<if test="userIdcardnumber != null and userIdcardnumber != ''">
				u.user_Idcard_number = #{userIdcardnumber},
			</if>
			<if test="userAddr != null and userAddr != ''">
				u.user_addr = #{userAddr},
			</if>
			<if test="userEmail != null and userEmail != ''">
				u.user_email = #{userEmail},
			</if>
			<if test="userPhone != null and userPhone != ''">
				u.user_phone = #{userPhone},
			</if>
			<if test="userNick != null and userNick != ''">
				u.user_nick = #{userNick},
			</if>
			<if test="userSmscheck != null and userSmscheck != ''">
				u.user_sms_check = #{userSmscheck},
			</if>
			<if test="userEmailcheck != null and userEmailcheck != ''">
				u.user_email_check = #{userEmailcheck},
			</if>
			<if test="staticCode != null and staticCode != ''">
				u.static_code = #{staticCode},
			</if>
				u.user_join_datetime =NOW()
		</set>
		WHERE
			u.user_id =#{userId};
	</update>
	
	<select id="getUserInfoByID" parameterType="String"  resultMap="userResultMap">
	/*하나의 회원 조회*/
		SELECT
			u.user_id,		
			u.user_pw,					
			u.user_name,					
			u.user_level,				
			u.user_Idcard_number,		
			u.user_addr,					
			u.user_email,				
			u.user_phone,				
			u.user_nick,					
			u.user_sms_check,			
			u.user_email_check,			
			u.static_code,				
			cast(u.user_join_datetime 	AS CHAR(20))
		FROM 
			user_manage as u
		WHERE
			u.user_id =#{useriId};
		
	</select>
	<select id="getUserStaticList" resultType="Static">
		/*회원 상태코드 조회*/
		SELECT
			sc.static_code as staticCode,
			sc.static_code_content as staticCodeContent
		FROM
			static_code AS sc
		WHERE
			SUBSTRING_INDEX(sc.static_code,'_',1)='user';
	</select>
	
 	 <select id="getUserList" parameterType="map" resultType="map">
		/* 회원목록 조회 */
		SELECT
			u.user_id					AS userId,
			u.user_pw					AS userPw,
			u.user_name					AS userName,	
			u.user_level				AS userLevel,
			u.user_Idcard_number		AS userIdcardnumber,
			u.user_addr					AS userAddr,
			u.user_email				AS userEmail,
			u.user_phone				AS userPhone,
			u.user_nick					AS userNick,
			u.user_sms_check			AS userSmscheck,
			u.user_email_check			AS userEmailcheck,
			u.static_code				AS staticCode,
			cast(u.user_join_datetime 	AS CHAR(20))	AS userJoindatetime
		FROM 
			user_manage as u
		<where>
        	<if test="searchValue != null and searchValue !=''">
        		${searchKey} = #{searchValue}
        	</if>
        </where>
		<if test="startIndex != null and startIndex > -1 ">
			LIMIT #{startIndex},#{rowPerPage};
		</if>
	</select> 
	<select id="getUserListCount" parameterType="map" resultType="int">
		/*회원 전체 행의 갯수*/
		SELECT
			COUNT(*)
		FROM
			user_manage as u
		<where>
        	<if test="searchValue != null and searchValue !=''">
        		${searchKey} = #{searchValue};
        	</if>
        </where>
	</select> 
	
	<select id="getIncreaseCode" resultType="String" parameterType="String">
		/* 자동 숫자 증가 코드 가져오기 */
		<![CDATA[
		SELECT
			CASE
				WHEN COUNT(*) = 0
				THEN '${tableName}_code1'
			ELSE	
				CONCAT('${tableName}_code',
				MAX(CAST(SUBSTRING_INDEX(${tableName}_code,'code',-1) AS UNSIGNED))+1)
			END AS increaseCode
		FROM
			${tableName}
		]]>
	</select>
	
</mapper>