<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao 작성 -->
<!-- namespace : implememts와 같은 기능 -->
<mapper namespace="ks47team03.admin.mapper.AdminCupMapper">
	<resultMap type="Cup" id="cupResultMap">
		<id 	column="cup_QR_code" 				property="cupQR"/>
		<result column="static_code" 				property="staticCode"/>
		<result column="set_datetime" 				property="setDateTime"/>
		<result column="admin_id" 					property="userId"/>
		<result column="up_datetime" 				property="upDateTime"/>
	</resultMap>
	
	
	<select id="getAllDiscardCupQRList" resultMap="cupResultMap">
		/*전체 폐기컵리스트 조회-*/
		SELECT 
			cdm.cup_QR_code 
		FROM
			cup_discard_manage AS cdm
	</select>	
	
	<insert id="addDiscardCupByExcelFile" parameterType="Cup">
		/* 엑셀파일 업로드*/
		INSERT INTO
			cup_discard_manage
		VALUES
		<foreach collection="list" item="cup" separator=",">
			((SELECT
				cup_discard_manage_code
			FROM
				(SELECT
						    CASE
						    WHEN COUNT(*) = 0 THEN 'cup_discard_manage_code1'
						    ELSE 
						        CONCAT('cup_discard_manage_code', 
						                    MAX(CAST(SUBSTRING_INDEX(cup_discard_manage_code,'code', -1) AS UNSIGNED))+1)
						 
						    END AS cup_discard_manage_code
				FROM
						    cup_discard_manage)sub_sc),
	
				#{cup.partnerInfo},
				#{cup.cupQR},
				'adminid001',
				CURDATE())
		</foreach>
	</insert>
	<delete id="removeDiscardCup" parameterType="List">
	/*체크된 폐기컵 삭제*/
		DELETE FROM cup_discard_manage
		WHERE
			cup_QR_code IN
			
    	<foreach collection="list" item="item" index="i" open="(" separator="," close=")">
      		#{item}
    	</foreach>
	</delete>
	<select id="getDiscardCupList"  parameterType="map" resultType="map" >
	/*폐기컵  조회*/
		SELECT 
			cdm.approval_partner_plus_info_code AS partnerInfo,
			cdm.cup_QR_code AS cupQR,
			cdm.admin_id AS adminId,
			cdm.up_datetime AS upDateTime
		FROM
			cup_discard_manage AS cdm

		ORDER BY CAST(SUBSTRING_INDEX(cdm.cup_discard_manage_code,'code',-1) AS UNSIGNED)	
		<if test="startIndex != null and startIndex > -1 ">
			LIMIT #{startIndex},#{rowPerPage};
		</if>
	</select>

	<delete id="removeCupState" parameterType="List">
	/*체크된 컵 삭제*/
		DELETE FROM cup_manage
		WHERE
			cup_QR_code IN
			
    	<foreach collection="list" item="item" index="i" open="(" separator="," close=")">
      		#{item}
    	</foreach>
	</delete>
	
	<update id="modifyCupState" parameterType="Cup">
		/* 상품수정 */
		UPDATE cup_manage AS cm
		<set>
			<if test="staticCode != null and staticCode != ''">
				cm.static_code = #{staticCode},
			</if>
			<if test="userId != null and userId != ''">
				cm.admin_id = #{userId},
			</if>
				cm.up_datetime =NOW()
		</set>
		WHERE
			cm.cup_QR_code =#{cupQR};
	</update>
		
	<select id="getCupInfoByQR" parameterType="String" resultMap="cupResultMap">
	/*하나의 컵 조회*/
		SELECT
			cm.cup_QR_code,
			cm.static_code,
			cm.set_datetime,
			cm.admin_id,
			cm.up_datetime
		FROM
			cup_manage AS cm
		WHERE
			cm.cup_QR_code =#{cupQR};
		
	</select>
	
	<select id="getCupStaticList" resultType="Static">
		/*컵 상태코드 조회*/
		SELECT
			sc.static_code as staticCode,
			sc.static_code_content as staticCodeContent
		FROM
			static_code AS sc
		WHERE
			SUBSTRING_INDEX(sc.static_code,'_',1)='cup';
	</select>

	<select id="getCupDayOutList" resultType="map" parameterType="map">
	/*하루 총 출고 리스트*/
	SELECT
		cast(dota.outTime AS CHAR(20)) AS upDatetime, 
		dota.outAmount AS outAmount ,
		dota.adminId AS adminId
	FROM
		day_out_total_amount AS dota
	ORDER BY
		dota.outTime;
	</select>
	
	<select id="getFinalStock" resultType="int">
	/*현재 최종 재고*/
	SELECT 
		csm.final_stock
	FROM 
		cup_stock_manage AS csm
	WHERE 
		csm.cup_stock_manage_code = 
		(SELECT concat('cup_stock_manage_code', MAX(CAST(SUBSTRING_INDEX(cup_stock_manage_code, 'code', -1) AS UNSIGNED))) FROM cup_stock_manage);
	</select>
	
	<select id="getCupStockList"  parameterType="map" resultType="map" >
	/*컵 재고 조회*/
		SELECT
			csm.stock_type AS stockType,
			csm.past_stock AS pastStock,
			csm.insert_stock AS insertStock,
			csm.final_stock AS finalStock,
			csm.admin_id AS adminId,
			cast(csm.up_datetime AS CHAR(20))  AS updateTime
		FROM
			cup_stock_manage AS csm
		ORDER BY
			CAST(SUBSTRING_INDEX(csm.cup_stock_manage_code,'code',-1) AS UNSIGNED)
		<if test="startIndex != null and startIndex > -1 ">
			LIMIT #{startIndex},#{rowPerPage};
		</if>
	</select>
	
	<select id="getCupStateList"  parameterType="map" resultType="map" >
	/*컵 상태 조회*/
		SELECT 
			cm.cup_QR_code as cupQR,
			sc.static_code_content as staticCode,
			cm.set_datetime as setDate,
			cm.admin_id as adminId,
			cm.up_datetime as upDateTime
		FROM
			cup_manage AS cm
			INNER join
			static_code AS sc
			on
			cm.static_code = sc.static_code
		<where>
        	<if test="searchValue != null and searchValue !=''">
        		${searchKey} = #{searchValue}
        	</if>
        </where>
		ORDER BY CAST(SUBSTRING(cm.cup_QR_code,6) AS UNSIGNED)	
		<if test="startIndex != null and startIndex > -1 ">
			LIMIT #{startIndex},#{rowPerPage};
		</if>
	</select>
	
	<select id="getListCount"  parameterType="String" resultType="int">
		/*전체 행의 갯수*/
		SELECT
			COUNT(*)
		FROM
			${tableName};
	</select>

	
	<select id="getCupManageList"  parameterType="map" resultType="map" >
	/*컵 전체 이용 내역*/
		SELECT
			CAST(SUBSTRING(crenh.cup_QR_code,6) AS UNSIGNED) AS num,
		    um.user_id AS userId,
		    um.user_name AS userName,
		    um.user_nick AS userNick,
		    crenh.user_bar_code AS userBarcode,
		    crenh.cup_QR_code AS cupQR,
		    cast(crenh.cup_rental_datetime AS CHAR(20)) AS rentalDateTime,
		    cast(IFNULL(creth.cup_return_datetime,'') AS CHAR(20)) AS returnDateTime
		FROM
	   		user_manage AS um
			INNER JOIN
	   		cup_rental_history AS crenh
			ON
	   		um.user_id = crenh.user_id
			LEFT JOIN
	   		cup_return_history AS creth
			ON
	   		um.user_id = creth.user_id 
		AND 
			crenh.cup_QR_code = creth.cup_QR_code
		ORDER BY CAST(SUBSTRING(crenh.cup_QR_code,6) AS UNSIGNED)
		<if test="startIndex != null and startIndex > -1 ">
			LIMIT #{startIndex},#{rowPerPage};
		</if>
	</select>
	
	<select id="getCupManageListCount" resultType="int">
		/*컵 이용 내역 전체 행의 갯수*/
		SELECT
			COUNT(*)
		FROM
			cup_rental_history AS crenh
			LEFT JOIN 
			cup_return_history AS creth
			ON
			crenh.cup_QR_code = creth.cup_QR_code
	</select>
	
</mapper>