<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao 작성 -->
<!-- namespace : implememts와 같은 기능 -->
<mapper namespace="ks47team03.user.mapper.UserPointMapper">

	<resultMap type="Account" id="userAccountResultMap">
		<id 	column="user_bank_code" 	property="userBankCode"/>
		<result column="user_id" 			property="userId"/>
		<result column="account_user_name" 	property="accountUserName"/>		
		<result column="bank_name" 			property="bankName"/>		
		<result column="account_number" 	property="accountNumber"/>		
	</resultMap>
	
	<resultMap type="Point" id="pointResultMap">
		<id 	column="point_past_now_history_code" 	property="pointPastNowHistoryCode"/>
		<result column="user_id" 						property="userId"/>
		<result column="past_holding_point" 			property="passHoldingpoint"/>			
		<result column="point_save_use_history_code" 	property="pointSaveUseHistoryCode"/>			
		<result column="point_save_use_history" 		property="pointSaveUseHistory"/>			
		<result column="current_holding_point" 			property="currentHoldingPoint"/>			
		<result column="save_use_type" 					property="saveUseType"/>		
		<result column="point_save_use_type" 			property="pointSaveUseType"/>		
	</resultMap>
	
	
	<insert id="modifyUserPoint" parameterType="Point">
		/* 보유 포인트 변동 내역 */
		INSERT point_past_now_history
		VALUES(#{pointPastNowHistoryCode},
				#{userId},
				#{passHoldingpoint},
				#{pointSaveUseHistory},
				#{currentHoldingPoint},
				'adminid002',
				NOW(),
				#{saveUseType})
	</insert>
	
	<insert id="addPointUseSaveList" parameterType="Point">
		<selectKey resultType="String" keyColumn="pointSaveUseTypeCode" keyProperty="pointSaveUseTypeCode" order="BEFORE">
			/* 포인트 사용 혹은 적립과 일치하는 코드 조회 */
			SELECT
				point_save_use_type_code AS pointSaveUseTypeCode
			FROM
				point_save_use_type
			WHERE
				point_save_use_type = #{pointSaveUseType}		
		</selectKey>
		/* 포인트 사용 적립 내역 */
		INSERT INTO point_save_use_history 
		VALUES(#{pointSaveUseHistoryCode},
				#{userId},
				#{saveUseType},
				#{pointSaveUseTypeCode},
				-#{pointSaveUseHistory},
				<choose>
				    <when test="saveUseType != null and saveUseType == 'save'">
				        DATE_ADD(NOW(), INTERVAL 3 YEAR)
				    </when>
				    <otherwise>
				        NULL
				    </otherwise>
				</choose>,				
				'adminid002',
				NOW());	
	</insert>
	
	<update id="modifyUserAccount" parameterType="Account">
		/* 회원 계좌 수정 */
		UPDATE
			user_bank 
		SET 
			account_user_name = #{accountUserName},
			bank_name = #{bankName},
			account_number = #{accountNumber},
			admin_id = 'adminid001',
			up_datetime = CURDATE()
		WHERE
			user_id = #{userId}
	</update>
	
	<insert id="addUserAccount" parameterType="Account">
		/* 회원 계좌 등록 */
		INSERT INTO user_bank 
		VALUES(#{userBankCode},
				#{userId},
				#{accountUserName},
				#{bankName},
				#{accountNumber},
				'adminid001',
				CURDATE());
	</insert>
	
	<select id="getUserAccount" parameterType="String" resultMap="userAccountResultMap">
		/* 특정 회원 계좌 조회 */
		SELECT
			user_bank_code,
			user_id,
			account_user_name,
			bank_name,
			account_number
		FROM
			user_bank
		WHERE
			user_id = #{sessionId}
	</select>
	
	<select id="getUserPoint" parameterType="String" resultMap="pointResultMap">
		/* 특정 회원 현재 보유 포인트 조회*/
		SELECT
			point_past_now_history_code,
			user_id,
			past_holding_point,
			current_holding_point,
			admin_id,
			up_datetime
		FROM
			point_past_now_history
		WHERE
			user_id = #{userId}
		ORDER BY up_datetime DESC
		LIMIT 1;
	</select>
		
	<select id="getAllUserPoint" parameterType="Point" resultMap="pointResultMap">
		/* 전체 회원 현재 보유 포인트 조회*/
		SELECT
			CAST(SUBSTRING_INDEX(user_deposit_point_code,'code',-1) AS UNSIGNED) AS num,
			point_past_now_history_code,
			user_id,
			current_holding_point,
			admin_id,
			up_datetime
		FROM
			point_past_now_history
		ORDER BY num
	</select>
	
	<select id="getAllUserPointCount" parameterType="String" resultType="int">
		/* 데이터 개수 조회 */
		SELECT
			COUNT(*)
		FROM
			${tableName}
		<where>
			<if test="tableName == 'day_maximum_count'">
				day_maximum_count_code LIKE'%point%';
			</if>
		</where>
	</select>
	
	
</mapper>