<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao 작성 -->
<!-- namespace : implememts와 같은 기능 -->
<mapper namespace="ks47team03.user.mapper.UserPartnerMapper">
	<select id="getAddCupCheckList" parameterType="String" resultType="Partner">
	/*신청한 추가 컵 내용 확인*/
		SELECT
			adp.approval_partner_plus_info_code AS partnerCode,
			appi.partner_name AS partnerName,
			adp.kiosk_serial_num AS kioskSerialNum,
			adp.delivery_cup_quantity AS outAmount,
			adp.delivery_request_datetime AS upDateTime,
			adp.delivery_desired_datetime AS deliveryDesiredDate,
			sc.static_code_content AS staticCode
		FROM
			add_delivery_application AS adp
			INNER join
			static_code AS sc
			on
			adp.static_code = sc.static_code
			INNER join
			approval_partner_plus_info AS appi
			on
			adp.approval_partner_plus_info_code = appi.approval_partner_plus_info_code
		WHERE
			adp.approval_partner_plus_info_code = #{partnerCode}
		ORDER BY
			CAST(SUBSTRING_INDEX(adp.add_delivery_application_code,'code', -1) AS UNSIGNED);
	
	
	
	
	</select>
	<select id="getPartnerCodeById" parameterType="String" resultType="Partner">
	/*로그인 아이디로 파트너 코드 조회 */
	SELECT 
		appi.approval_partner_plus_info_code AS partnerCode,
		appi.partner_name AS partnerName
	FROM
		approval_partner_plus_info AS appi
	<if test="userLevel =='설치사업장'">
	WHERE 
		appi.user_id = #{loginId}
	</if>
	<if test="userLevel =='관리자'">
	WHERE 
		appi.partner_type = '설치 사업장'
	ORDER BY CAST(SUBSTRING_INDEX(approval_partner_plus_info_code,'business',-1) AS UNSIGNED)
	</if>
	</select>
	
	
	<select id="getInstalledKioskById" parameterType="String" resultType="Kiosk">
		/*로그인 아이디로 설치된 키오스크 번호 조회*/
		SELECT
			ikl.kiosk_serial_num as kioskSerialNum
		FROM 
			approval_partner_plus_info AS appi
			INNER join
			user_manage AS um
			ON 
			appi.user_id=um.user_id
			INNER join
			installed_kiosk_list AS ikl
			ON 
			ikl.approval_partner_plus_info_code = appi.approval_partner_plus_info_code
		<if test="userLevel == '설치사업장'">	
		WHERE
			um.user_id =#{loginId}
		</if>
		ORDER BY CAST(SUBSTRING_INDEX(kioskSerialNum,'num',-1) AS UNSIGNED)	
	</select>
	
	<insert id="addBusinessCup" parameterType="Partner">
	/*추가 신청 수량 인서트*/
	INSERT
	INTO 
		add_delivery_application(add_delivery_application_code,approval_partner_plus_info_code,kiosk_serial_num,delivery_cup_quantity,delivery_request_datetime,delivery_desired_datetime,static_code)
	VALUES
		((SELECT
			add_delivery_application_code
		FROM
			(SELECT
					    CASE
					    WHEN COUNT(*) = 0 THEN 'add_delivery_application_code1'
					    ELSE 
					        CONCAT('add_delivery_application_code', 
					                    MAX(CAST(SUBSTRING_INDEX(add_delivery_application_code,'code', -1) AS UNSIGNED))+1)
					 
					    END AS add_delivery_application_code
			FROM
					    add_delivery_application)sub_sc),
		#{partnerCode},
		#{kioskSerialNum},
		#{outAmount},
		NOW(),
		#{deliveryDesiredDate},
		'order_sc3_1'
		);
	
	</insert>

	<select id="getPartnerInfoByLevel" parameterType="map" resultType="Kiosk">
		/*사용자 권한으로 사업장 정보 조회*/
		SELECT
			appi.approval_partner_plus_info_code AS partnerCode,
			appi.partner_name AS partnerName,
			ikl.kiosk_serial_num AS kioskSerialNum
		FROM
			approval_partner_plus_info AS appi
			INNER join
			installed_kiosk_list AS ikl
			ON 
			appi.approval_partner_plus_info_code = ikl.approval_partner_plus_info_code
			<if test="userLevel == '설치사업장'">	
			WHERE		
				appi.user_id = #{loginId}
			GROUP BY 
				appi.user_id;
			</if>

	</select>
</mapper>