<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- dao 작성 -->
<!-- namespace : implememts와 같은 기능 -->

<mapper namespace="ks47team03.user.mapper.UserCommonMapper">
	<select id="getIncreaseCode" resultType="String" parameterType="String">
		/* 자동 숫자 증가 코드 가져오기 */
		<![CDATA[
		SELECT
			CASE
				WHEN COUNT(*) = 0
				THEN '${tableName}_code1'
			ELSE	
				CONCAT('${tableName}_code',
				MAX(CAST(SUBSTRING_INDEX(${tableName}_code,'code',-1) AS UNSIGNED))+1)
			END AS increaseCode
		FROM
			${tableName}
		]]>
	</select>
		
</mapper>