<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
		
    		
   

    		
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>무인기기 신청</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">무인기기 신청</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
  
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  <section class="login_box_area section-margin">
    <div class="container">
      <div class="rowlogin">
				<div class="login_join_center">
					<div class="login_form_inner">
						<h3>무인기기 설치 신청</h3>
						<form class="row login_form" action="#/" id="contactForm" >
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="userId" name="userId" placeholder="아이디" onfocus="this.placeholder = '아이디'" onblur="this.placeholder = '아이디'">
								<input type="text" class="form-control" id="partnerName" name="partnerName" placeholder="사업장명" onfocus="this.placeholder = '사업장명'" onblur="this.placeholder = '사업장명'">								
							</div>
					</form>
						 <button type="button" id="businessKioskApplyBtn">신청</button>
						 <button type="reset" id="resetBtn">입력취소</button>
						
				</div>	
			</div>
		</div>
      
      
    </div>
   </section>
 
        
      
  <!--================End Order Details Area =================-->

   </th:block>
</html>