<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>추가 컵 배송 신청</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/main"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">추가 컵 배송 신청</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  <section class="order_details section-margin--small">
    <div class="container">
      <div class="order_details_table">
        <h2>99CUP Order </h2>
        <div class="table-responsive">
        <form>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">사업장 명</th>
                <th scope="col">추가 배송 수량</th>
                <th scope="col">배송 희망 날짜</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" id="addCupBusinessName" name="addCupBusinessName"/>
                </td>
                <td>
                  <input type="text" id="addCupAmount" name="addCupAmount"/>
                </td>
                <td>
                  <input type="datetime" id="addCupDeliveryDate" name="addCupDeliveryDate"/>
                </td>

              </tr>
              <tr>
                <td>
           			<h5></h5>
                </td>
                <td>
                  <h5></h5>
                </td>
                <td class="addCupBtnTd">
                  <button type="button" id="addCupBtn">commit</button>
                </td>
              </tr>
            </tbody>
          </table>
         </form> 
        </div>
      </div>
    </div>
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
</html>