<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>추가 컵 배송 신청</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">추가 컵 배송 신청</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  <section class="order_details section-margin--small">
    <div class="container">
      <div class="order_details_table" style="height: 300px">
        <h2>99CUP Order </h2>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">사업장 코드</th>
                <th scope="col">무인기기 번호</th>
                <th scope="col">추가 배송 수량</th>
                <th scope="col">배송 희망 날짜</th>
              </tr>
            </thead>
           	<tbody class="tbody">
              <tr>
                <td>
                	<select id="partnerCode" name="partnerCode" size="1" class="nice-select addCupselect">
								<th:block th:unless="${#lists.isEmpty(partnerCodeList)}"
										  th:each="p: ${partnerCodeList}">
									<option class="nice-select option" th:value="${p.partnerCode}" th:text="|${p.partnerCode} :::: ${p.partnerName}|"></option>
								</th:block>
					</select>
                </td>
                <td class="kioskTd"></td>
                 <td>
                  <input type="text" class="nice-select" id="addCupAmount" name="outAmount"/>
                </td>          
                <td>
                  <div class="input-group">
                    <input type="text" class="form-control drgpicker" id="addCupDate" name="deliveryDesiredDate">
                    <div class="input-group-append">
                      <div class="input-group-text" id="button-addon-date"><span class="fe fe-calendar fe-16"></span></div>
                    </div>
                  </div>
                </td>        
              </tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" class="addCupTfoot">
						<a>
							<img alt="" src="/user/img/button/apply.png">
						</a>
					</td>
				</tr>
			</tfoot>
          </table>
         
        </div>
      </div>
  </section>
  <!--================End Order Details Area =================-->
   </th:block>
   <th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript">
	
	// 선택된 값으로 td 값 삽입 -->change
	function loadKioskNum(){
		let $selectedValue = $('.addCupselect option:selected').val();
		console.log($selectedValue);
		//생성된 td 제거
		 $('.tbody tr .dynamic-td').remove();
		
		const request =$.ajax({
            url: '/partner/addCupKioskNum',
            type: 'GET',
            data: { partnerCode: $selectedValue}, // 서버에 전송할 데이터
		})	
		  
		request.done(function(response) {
			 let td;
		    if (response.length > 1) {
		        let $kioskNum = $('<select></select>').attr('size', '1').addClass('nice-select');
		        $.each(response, function(idx, item) {
		            let kioskOption = $('<option></option>').val(item.kioskSerialNum).text(item.kioskSerialNum);
		            $kioskNum.append(kioskOption);
		        });
		        
		        td = $('.kioskTd').addClass('dynamic-td').append($kioskNum);
		       
		    } else {
		   		let $kioskNum = $('<input />',{ name:'kioskSerialNum', value:response[0].kioskSerialNum}).prop('readonly',true)
		       td = $('.kioskTd').addClass('dynamic-td');
		        $(td).append($kioskNum);
		    }
		    
	        $('.kioskTd').append(td);
		
		});
	}
	$(document).ready(function() {
	    loadKioskNum();
	    
	    // select 값 변경 시 호출
	    $('.addCupselect').change(loadKioskNum);
	});
	//데이트 피커
	$('.drgpicker').daterangepicker(
		      {
		        singleDatePicker: true,
		        timePicker: false,
		        showDropdowns: true,
		        locale:
		        {
		          format: 'MM/DD/YYYY'
		        }
	});			
				
	</script>
</html>