<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>폐기컵 등록</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">폐기컵 등록</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  
  <section class="order_details section-margin--small">
    <div class="container">
	  <p class="font">파일은 지정된 형식의 엑셀 파일로 업로드 부탁 드립니다😊</p>
	   	<div class="card">
	    	<div class="card-body">
		     	<label for="example-fileinput" class="textForDiscard">🥛폐기 컵 첨부파일🥛</label>
		     	<br>
		     	
		     	<div class="fileUpload">
		     		<input type="file" id="example-fileinput" class="form-control-file">
		        	<button type="button" class="btn mb-2 btn-outline-success"><span class="fe fe-upload-cloud fe-16"></span></button>    
		     	</div>
			</div>	
		</div>	
	</div>	
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
</html>