<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  
 <!-- ================ start banner area ================= -->
  <section class="page-banner-area" id="category">
    <div class="container h-100">
        <div class="text-center">
          <h1>폐기컵 등록</h1>
          <nav aria-label="breadcrumb" class="banner-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><span class="fe fe-16 fe-home"></span></a></li>
              <li class="breadcrumb-item"><span class="fe fe-16 fe-chevron-right"></span></li>
              <li class="breadcrumb-item active" aria-current="page">폐기컵 등록</li>
            </ol>
          </nav>
      </div>
    </div>
  </section>
 
	  <!-- ================ end banner area ================= -->

  <!--================Point table Area =================-->
  
   <section class="order_details section-margin--small">
    <div class="container">
      <div class="order_details_table">
        <h2>Discard Cup Download</h2>
        <div class="table-responsive">
		<table class="table">
			<thead>
				<tr>
					<th  colspan="3">
					다운 받아 서식에 맞게 작성 후 업로드 부탁드립니다💙
					</th>
				</tr>
			</thead>
			<tbody>
				<tr  th:if="${not #lists.isEmpty(fileList)}" th:each="l, index : ${fileList}">
					<td th:text="${index.count}"></td>
					<td th:text="${l.fileOriginalName}"></td>
					<td class="td-class-file">
						<a class="btn mb-2 btn-secondary download-cupBtn" th:href="@{/admin/cup/file/download(fileIdx=${l.fileIdx})}">
							<span class="fe fe-download fe-16"></span>
						</a>
					</td>
				</tr>
				<tr th:unless="${not #lists.isEmpty(fileList)}">
					<td colspan="4">목록이 없습니다.</td>
				</tr>
				
			</tbody>
		</table>
	</div>
	</div>
      <div class="order_details_table">
        <h2>Discard Cup Upload</h2>
        <div class="table-responsive">
        <form id="discardform" th:action="@{/partner/excel/fileupload}" method="post" enctype="multipart/form-data">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">폐기컵 업로드</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="washDiscardCup">
                	<input type="file" name="excelFile" id="example-fileinput" class="form-control-file">
                </td>
                <td>
                </td>
                <td>
                	<button type="submit" class="btn mb-2 btn-outline-success" id="commitBtn"><span class="fe fe-upload-cloud fe-16"></span></button>    
                </td>
              </tr>
              <tr>
                <td>
           			<h5></h5>
                </td>
                <td>
                	<h5></h5>
                </td>
                <td>
                	<h5></h5>
                </td>
              </tr>
            </tbody>
          </table> 
          </form>
         </div>
         
      <div class="order_details_table">
        <h2>Discard Cup List</h2>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">NO.</th>
                <th scope="col">사업장 코드</th>
                <th scope="col">컵 QR</th>
                <th scope="col">업데이트 날짜</th>
              </tr>
            </thead>
            <tbody>
            	<th:block th:unless="${#lists.isEmpty(discardCupList)}"  th:each="d : ${discardCupList}">
                 	<tr>
                    	 <td class="washDiscardCupCheck" th:text="${d.num}"></td>
                     	 <td class="washDiscardCupCheck" th:text="${d.partnerInfo}"></td>
                     	 <td class="washDiscardCupCheck" th:text="${d.cupQR}"></td>
                     	<td class="washDiscardCupCheck" th:text="${d.upDateTime}"></td>
                 	</tr>
                </th:block>
                <tr>
                	<h5></h5>
                </tr>
              	<tr th:if="${#lists.isEmpty(discardCupList)}">
					<td class="washDiscardCupCheck" colspan="4">폐기컵이 없습니다.</td>
				</tr>
            </tbody>
			 <tfoot class="tfoot-cup">
				<tr>
					<td colspan="4">
						<a class="pages btn mb-2 btn-secondary" th:href="@{/partner/washDiscardCup}">처음으로</a>
						<a class="btn mb-2 btn-secondary" th:if="${currentPage>1}" th:href="@{/partner/washDiscardCup(currentPage=${currentPage-1})}">이전</a>
						<label class="btn mb-2 btn-secondary" th:unless="${currentPage>1}">이전</label>
							<div class="btn-group mr-2" role="group" aria-label="First group">
								<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}" >
									<a class="btn mb-2 btn-secondary " th:if="${currentPage != num}" th:href="@{/partner/washDiscardCup(currentPage=${num})}" th:text="${num}"></a>
									<label class="btn mb-2 btn-secondary current-page-btn" th:if="${currentPage == num}" th:text="${num}"></label>
								</th:block>
							</div>				
						<a class="btn mb-2 btn-secondary" th:if="${currentPage<lastPage}" th:href="@{/partner/washDiscardCup(currentPage=${currentPage+1})}">다음</a>
						<label class="btn mb-2 btn-secondary" th:unless="${currentPage<lastPage}">다음</label>
						<a class="pages btn mb-2 btn-secondary" th:href=@{/partner/washDiscardCup(currentPage=${lastPage})}>마지막으로</a>
					</td>
				</tr>
			</tfoot>
                      </table>
                	</div>
        
        </div>
      </div>
    </div>
  </section>
  <!--================End Order Details Area =================-->

   </th:block>
   	<th:block layout:fragment="customJs">
		<script type="text/javascript" th:inline="javascript">
		let msg = '[[${msg}]]';
		console.log(msg);
		if(msg != 'null') alert(msg);
		</script>
	</th:block>
</html>