<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  

	  
<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">로그인 이력 관리</h2>          
             <p class="card-text"> 전체 로그:<mark>[[${logHistoryListCount}]]</mark>개</p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                    <div th:insert="~{admin/search/logsearch :: logSearchFragment}"></div>
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                          <tr>
                            <th>NO. </th>
                            <th>코드</th>                            
                            <th>아이디</th>
                           	<th>이름</th>
                            <th>로그인 시간</th>
                            <th>로그아웃 시간</th>
                          </tr>
                        </thead>
                        <tbody>
                        	<th:block th:unless="${#lists.isEmpty(logHistoryList)}"  th:each="l,state : ${logHistoryList}">
		                          <tr>
		                            <td th:text="${state.count+(rowPerPage*(currentPage-1))}"></td>
		                            <td th:text="${l.logHistoryCode}"></td>
		                            <td th:text="${l.userId}"></td>
		                            <td th:text="${l.userName}"></td>
		                            <td th:text="${l.loginHistoryDatetime}"></td>
		                            <td th:text="${l.logoutHistoryDatetime}"></td>
		                          </tr>
                          	</th:block>
                          	
                          	<tr th:if="${#lists.isEmpty(logHistoryList)}">
                          	<td colspan="15">등록된 회원이 존재하지 않습니다.</td>
	                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                                <span class="text-muted sr-only">Action</span>
	                              </button>
	                              <div class="dropdown-menu dropdown-menu-right">
	                                <a class="dropdown-item" href="#">Edit</a>
	                                <a class="dropdown-item" href="#">Remove</a>
	                                <a class="dropdown-item" href="#">Assign</a>
	                              </div>
	                            </td>
							</tr>
                        </tbody>
                        <tfoot>
                        
							 <tr>
								<td colspan="15">
									<a class="pages btn mb-2 btn-secondary" th:href="@{/admin/user/loginHistory}">처음으로</a>
									<a class="btn mb-2 btn-secondary" th:if="${currentPage>1}" th:href="@{/admin/user/loginHistory(currentPage=${currentPage-1})}">이전</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage>1}">이전</label>
										<div class="btn-group mr-2" role="group" aria-label="First group">
											<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}" >
												<a class="btn mb-2 btn-secondary" th:if="${currentPage != num}" th:href="@{/admin/user/loginHistory(currentPage=${num})}" th:text="${num}"></a>
												<label class="btn mb-2 btn-secondary" th:if="${currentPage == num}" th:text="${num}"></label>
											</th:block>
										</div>				
									<a class="btn mb-2 btn-secondary" th:if="${currentPage<lastPage}" th:href="@{/admin/user/loginHistory(currentPage=${currentPage+1})}">다음</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage<lastPage}">다음</label>
									<a class="pages btn mb-2 btn-secondary" th:href=@{/admin/user/loginHistory(currentPage=${lastPage})}>마지막으로</a>
								</td>
							</tr> 
						</tfoot>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	<th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript">
		let msg = '[[${msg}]]';
		console.log(msg);
		if(msg != 'null') alert(msg);
		$(function(){
	      $('#dataTable-1').DataTable({
		        autoWidth: true,
		        "lengthChange": false, 
                "pageLength" : 10,
                "searching" : false,
                "info": false,
                "paging" : false,
		        columnDefs: [{
		            targets: 0,
		            searchable: false,
		            orderable: false,
		            className: 'sorting_disabled'
		            
		         }
		         ,{
		            targets: $('#dataTable-1').find('th').length-1,
		            searchable: false,
		            orderable: false,
		            className: 'sorting_disabled',	           
		         	}
		         ]
					      	
			});
			$('#dataTable-1').find('.sorting_asc').toggleClass('sorting_asc');
			});
			
		 $('table').click((e) => {
		        if ($(e.target).is($('.allCheck'))) {
		          const isChecked = $(e.currentTarget)
		            .find('.allCheck')
		            .prop('checked');
		          $(e.currentTarget).find('.checks').prop('checked', isChecked);
		        }
		
		        if ($(e.target).is($('.checks'))) {
		          if (
		            $(e.currentTarget).find('.checks').length ==
		            $(e.currentTarget).find('.checks:checked').length
		          ) {
		            $(e.currentTarget).find('.allCheck').prop('checked', true);
		          } else $(e.currentTarget).find('.allCheck').prop('checked', false);
		        }
		      });
	
			  
				
		</script>
	</th:block>
</html>