<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  

	  
<th:block layout:fragment="customContents">

     <div class="container-fluid">
       <div class="row justify-content-center">
          <div class="col-12">
            <h2 class="mb-2 page-title">전체 회원 목록</h2>          
             <p class="card-text"> 전체 회원:<mark>[[${userListCount}]]</mark>명</p>
              <div class="row my-4">
                <!-- Small table -->
                <div class="col-md-12">
                  <div class="card shadow">
                    <div class="card-body">
                    <div th:insert="~{/admin/search/usersearch :: userSearchFragment}"></div>
                      <!-- table -->
                      <table class="table datatables table-hover" id="dataTable-1">
                      <thead>
                          <tr>
                           <th>
	                           <input type="checkbox" class="custom-control custom-checkbox checkbox allCheck">
                            </th>
                            <th>NO. </th>
                            <th>아이디</th>
                           	<th>비밀번호</th>
                            <th>이름</th>
                            <th>권한</th>
                            <th>주민등록번호</th>
                            <th>주소</th>
                            <th>이메일</th>
                            <th>전화번호</th>
                            <th>별명</th>
                            <th>SMS수신 여부</th>
                            <th>EMAIL 수신 여부</th>
                            <th>회원 상태</th>
                            <th>가입 일시</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody>
                        	<th:block th:unless="${#lists.isEmpty(userList)}"  th:each="u,state : ${userList}">
		                          <tr>
		                            <td>
		                                <input type="checkbox" class="custom-control custom-checkbox checkbox checks" th:data-user-all="${u.userId}">
		                            </td>
		                            <td th:text="${state.count+(rowPerPage*(currentPage-1))}"></td>
		                            <td th:text="${u.userId}"></td>
		                            <td th:text="${u.userPw}"></td>
		                            <td th:text="${u.userName}"></td>
		                            <td th:text="${u.userLevel}"></td>
		                            <td th:text="${u.userIdcardnumber}"></td>
		                            <td th:text="${u.userAddr}"></td>
		                            <td th:text="${u.userEmail}"></td>
		                            <td th:text="${u.userPhone}"></td>
		                            <td th:text="${u.userNick}"></td>
		                            <td th:text="${u.userSmscheck}"></td>
		                            <td th:text="${u.userEmailcheck}"></td>
		                            <td th:text="${u.staticCode}"></td>
		                            <td th:text="${u.userJoindatetime}"></td>
		                            <td>
		                                <a class="dropdown-item" th:href="@{/admin/user/userModify(userId=${u.userId})}">Edit</a>
		                            </td>
		                          </tr>
                          	</th:block>
                          	
                          	<tr th:if="${#lists.isEmpty(userList)}">
                          	<td colspan="15">등록된 회원이 존재하지 않습니다.</td>
	                            <td><button class="btn btn-sm dropdown-toggle more-horizontal" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	                                <span class="text-muted sr-only">Action</span>
	                              </button>
	                              <div class="dropdown-menu dropdown-menu-right">
	                                <a class="dropdown-item" href="#">Edit</a>
	                                <a class="dropdown-item" href="#">Remove</a>
	                                <a class="dropdown-item" href="#">Assign</a>
	                              </div>
	                            </td>
							</tr>
                        </tbody>
                        <tfoot>
                        
							 <tr>
								<td colspan="15">
									<a class="pages btn mb-2 btn-secondary" th:href="@{/admin/user/userAll}">처음으로</a>
									<a class="btn mb-2 btn-secondary" th:if="${currentPage>1}" th:href="@{/admin/user/userAll(currentPage=${currentPage-1})}">이전</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage>1}">이전</label>
										<div class="btn-group mr-2" role="group" aria-label="First group">
											<th:block th:each="num : ${#numbers.sequence(startPageNum,endPageNum)}" >
												<a class="btn mb-2 btn-secondary" th:if="${currentPage != num}" th:href="@{/admin/user/userAll(currentPage=${num})}" th:text="${num}"></a>
												<label class="btn mb-2 btn-secondary" th:if="${currentPage == num}" th:text="${num}"></label>
											</th:block>
										</div>				
									<a class="btn mb-2 btn-secondary" th:if="${currentPage<lastPage}" th:href="@{/admin/user/userAll(currentPage=${currentPage+1})}">다음</a>
									<label class="btn mb-2 btn-secondary" th:unless="${currentPage<lastPage}">다음</label>
									<a class="pages btn mb-2 btn-secondary" th:href=@{/admin/user/userAll(currentPage=${lastPage})}>마지막으로</a>
								</td>
								<td class="btn-right-align">
									<button type="button" class="btn mb-2 btn-secondary" id="delCheckBtn" >삭제</button>
								</td>
							</tr> 
						</tfoot>
                      </table>
                    </div>
                  </div>
                </div> <!-- simple table -->
              </div> <!-- end section -->
            </div> <!-- .col-12 -->
           </div>
          </div>
	</th:block>
	<th:block layout:fragment="customJs">
	<script type="text/javascript" th:inline="javascript">
		let msg = '[[${msg}]]';
		console.log(msg);
		if(msg != 'null') alert(msg);
	
			$(function(){
		      $('#dataTable-1').DataTable({
			        autoWidth: true,
			        "lengthMenu": [
			          [16, 32, 64, -1],
			          [16, 32, 64, "All"]
			        ],
			        columnDefs: [{
			            targets: 0,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled'
			            
			         }
			         ,{
			            targets: $('#dataTable-1').find('th').length-1,
			            searchable: false,
			            orderable: false,
			            className: 'sorting_disabled',	           
			         	}
			         ]
						      	
				});
			$('#dataTable-1').find('.sorting_asc').toggleClass('sorting_asc');
			});
			
			 $('table').click((e) => {
			        if ($(e.target).is($('.allCheck'))) {
			          const isChecked = $(e.currentTarget)
			            .find('.allCheck')
			            .prop('checked');
			          $(e.currentTarget).find('.checks').prop('checked', isChecked);
			        }
			
			        if ($(e.target).is($('.checks'))) {
			          if (
			            $(e.currentTarget).find('.checks').length ==
			            $(e.currentTarget).find('.checks:checked').length
			          ) {
			            $(e.currentTarget).find('.allCheck').prop('checked', true);
			          } else $(e.currentTarget).find('.allCheck').prop('checked', false);
			        }
			      });
	
			  $('#delCheckBtn').click(function(e){
				  //배열 선언
					const userIdArr = [];
				  //check 클래스 중 속성이 checked된 요소만 변수에 담아줌
					const $checkedEle = $('.checks:checked');
				  //배열 순회
					$checkedEle.each((idx, item) => {
						//input태그에 속성인 th:data-user-all
						let userId = $(item).data('userId');
						//베열에 cuserId 담아줌
						userIdArr.push(userId);
					})
					console.log(userIdArr);
				  	//배열의 길이가 0이 아니면
					if(userIdArr.length != 0){
						//새로운 폼 생성 ->jquery
						const newForm = $('<form></form>');
						//새로운 폼에 set attribute	
						newForm.attr("method","post");
						newForm.attr("action","/admin/user/userRemove");
						// create element & set attribute (input)
						//$ 제이쿼리 배열을 순회하는데 순회하는 배열은 괄호 안쪽에서 부름
						$.each(userIdArr, (idx, item) => {
							newForm.append($('<input/>', {type: 'hidden', name: 'userId', value:item}));
						})
						// append form (to body) 
						// newForm은 이미 제이쿼리 문법으로 선언
						newForm.appendTo('body');
						newForm.submit();
					}
						
					

				});
				
		</script>
	</th:block>
</html>