<!DOCTYPE html>
<html layout:decorate="~{user/layout/indexDefault}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeLeaf.org">
<th:block layout:fragment="customContents">
    <section class="blog-banner-area" id="blog">
		<div class="container h-100">
			<img class="img-main" src="user/img/earthmain.jpg" 
		            	onmouseover="this.src='user/img/earthmainhover.jpg'" 
		            	onmouseout="this.src='user/img/earthmain.jpg'" alt="">	
		</div>
	</section>
    <div class="container container-body">
        <div>
            <h1>KSMART 47기 3팀 프로젝트 #4 버전</h1>
            <div class="js-h-blank-20"></div>
            <h4>2023년 7월 20일 12:15 배포</h4>
        </div>
        <div class="js-h-blank-10"></div>
        <div class="row js-callout js-display-flex-center">
            <span class="icon js-icon-x1-5">💡</span>
            <p class="js-p-margin-0" style="font-size: 20px">전주 스마트 정보 교육원 47기 3팀 프로젝트입니다.</p>
        </div>

        <div class="js-left-line row">
            <div class="js-w-blank-10"></div>
            <p style="font-size: 30px">👋 경영진의 마인드를 가진 경력직같은 신입 개발자가 되고자 하는 6인의 프로젝트</p>
        </div>
        <div class="js-h-blank-70"></div>
        <div class="js-brown-box">
            <h4>💻 프로젝트 소개</h4>
        </div>
        <div id="jsLinkGrayBox">
            <a class="js-bottom-line-gray" href="/projectIntro" style="font-size: 20px">리유저블컵 대여 플랫폼 구구컵 프로젝트에 대해서 알아보세요.🖱</a>
        </div>
        <div class="js-h-blank-50"></div>
        <div>
            <p style="font-size: 30px; font-weight: bolder"><span class="fe fe-folder"></span> Projects</p>
        </div>
        <div class="row">
            <div id="projectMain" class="js-display-flex-left">
                <a class="js-project-box" href="/main">사용자<img class="js-img" src="/user/img/footer.jpg"> </a>
                <a class="js-project-box" href="/admin/">관리자<img class="js-img" src="/user/img/footer.jpg"> </a>
            </div>
        </div>
        <div class="js-h-blank-50"></div>
        <div>
            <p style="font-size: 30px; font-weight: bolder"><span class="fe fe-users"></span> Member</p>
        </div>
        <div class="row">
            <div class="js-display-flex-left">
                <a class="js-img-box col-lg-4 col-md-12" href="/main">이소리<img class="js-img" src="/user/img/footer.jpg"> </a>
                <a class="js-img-box col-lg-4 col-md-12" href="/main">박현정<img class="js-img" src="/user/img/footer.jpg"> </a>
                <a class="js-img-box col-lg-4 col-md-12" href="/main">최수봉<img class="js-img" src="/user/img/footer.jpg"> </a>
                <a class="js-img-box col-lg-4 col-md-12" href="/main">현주열<img class="js-img" src="/user/img/footer.jpg"> </a>
                <a class="js-img-box col-lg-4 col-md-12" href="/main">서원<img class="js-img" src="/user/img/footer.jpg"> </a>
                <a class="js-img-box col-lg-4 col-md-12" href="/main">김우석<img class="js-img" src="/user/img/footer.jpg"> </a>
            </div>
        </div>
        <footer class="js-footer"></footer>
    </div>
</th:block>
</html>