<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">

	<th:block layout:fragment="customContents">
  
  <!--================Login Box Area =================-->  
  <section class="login_box_area section-margin">
		<div class="container">
			<div class="rowlogin">
				<div class="login_join_center">
					<div class="login_form_inner">
						<h3>회원가입</h3>
						<form class="login_form" th:action="@{/join}" method="post" id="joinUserForm" >
							<div class="row col-md-12 form-group">
								<label for="userId" class="col-3">아이디</label>
								<input type="text" class="col-6" id="userId" name="userId" placeholder="아이디를 입력해 주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '아이디를 입력해 주세요'">
								<div class="col-3"><button type="button" class="btn mb-2 btn-light" id="idCheck">아이디중복체크</button></div>
							</div>
							<div class="row col-md-12 form-group">
								<label for="userPw" class="col-4">비밀번호</label>
								<input type="text" class="col-8" id="userPw" name="userPw" placeholder="비밀번호를 입력해 주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '비밀번호를 입력해 주세요'" disabled="disabled">
					        </div>
					        <div class="row col-md-12 form-group">
					        	<label for="userName" class="col-4">이름</label>
								<input type="text" class="col-8" id="userName" name="userName" placeholder="이름을 입력해 주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '이름을 입력해 주세요'" disabled="disabled">
					        </div>
					        <div class="col-md-12 form-group">		
								<select id="userLevel" name="userLevel" class="form-control" disabled="disabled">
									<th:block th:unless="${#lists.isEmpty(userLevelList)}"
											  th:each="ul : ${userLevelList}">
										<option th:selected="true" th:value="${ul.levelName}">[[${ul.levelName}]]</option>
									</th:block>
									<th:block th:if="${#lists.isEmpty(userLevelList)}">
										<option th:value="">등록된 회원의 등급이 없습니다.</option>
									</th:block>
								</select>	
							</div>
			              	<div class="row col-md-12 form-group">
			              		<label for="userIdcardnumber" class="col-4">이메일</label>
								<input type="text" class="col-8" id="userIdcardnumber" name="userIdcardnumber" placeholder="주민등록번호를 입력해 주세요" 
										onfocus="this.placeholder = ''" onblur="this.placeholder = '주민등록번호를 입력해 주세요'" disabled="disabled">
			              	</div>
			              	<div class="row col-md-12 form-group">
								<input type="hidden" name="latitude" id="latitude"/>
								<input type="hidden" name="longitude" id="longitude"/>
								<input type="text" name="userAddr" class="col-8" id="address" placeholder="주소" disabled="disabled"><br>
								<button type="button" class="btn mb-2 btn-light" onclick="findPost()">우편번호 찾기</button><br>
								<input type="text" name="userAddr" class="form-control" id="extraAddress" placeholder="참고항목" disabled="disabled">
							</div>
			             	<div class="row col-md-12 form-group">
			              		<label for="userEmail" class="col-4">이메일</label>
								<input type="text" class="col-8" id="userEmail" name="userEmail" placeholder="이메일을 입력해 주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '이메일을 입력해 주세요'" disabled="disabled">
			              	</div>
							<div class="row col-md-12 form-group">
			              		<label for="userPhone" class="col-4">휴대번호</label>
								<input type="text" class="col-8" id="userPhone" name="userPhone" placeholder="전화번호를 입력해 주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '전화번호를 입력해 주세요'" disabled="disabled">
			              	</div>
			              	<div class="row col-md-12 form-group">
			              		<label for="userNick" class="col-4">닉네임</label>
								<input type="text" class="col-8" id="userNick" name="userNick" placeholder="닉네임을 입력해 주세요" onfocus="this.placeholder = ''" onblur="this.placeholder = '닉네임을 입력해 주세요'" disabled="disable	d">
			              	</div>
							<div class="row col-md-12 form-group">
								<div class="creat_account" >&nbsp;&nbsp;
									<input type="checkbox" class="f-option2" name="userSmscheck" id="smsCheck"/>
									<label for="smsCheck">메시지 수신 여부</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
									<input type="checkbox" class="f-option2" name="userEmailcheck" id="emailCheck"/>
									<label for="emailCheck">이메일 수신 여부</label>
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button id="joinUserBtn" type="submit" value="submit" class="joinbtn">
									<img src="/user/img/button/join.png" height="36" width="107" alt="">
								</button>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->
   </th:block>
   <th:block layout:fragment="customJs">
    	<script th:src="@{user/js/jquery-3.7.0.js}"></script>
    	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=893d4427eec7b7b03f01b891aa37a38f&libraries=services"></script>
		<script>
		    function findPost() {
		        new daum.Postcode({
		            oncomplete: function(data) {
		                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
		
		                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
		                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
		                let addr = ''; // 주소 변수
		                let extraAddr = ''; // 참고항목 변수
		
		                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
		                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
		                    addr = data.roadAddress;
		                } else { // 사용자가 지번 주소를 선택했을 경우(J)
		                    addr = data.jibunAddress;
		                }
		
		                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
		                if(data.userSelectedType === 'R'){
		                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
		                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
		                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
		                        extraAddr += data.bname;
		                    }
		                    // 건물명이 있고, 공동주택일 경우 추가한다.
		                    if(data.buildingName !== '' && data.apartment === 'Y'){
		                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
		                    }
		                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
		                    if(extraAddr !== ''){
		                        extraAddr = ' (' + extraAddr + ')';
		                    }
		                    // 조합된 참고항목을 해당 필드에 넣는다.
		                    document.getElementById("extraAddress").value = extraAddr;
		                
		                } else {
		                    document.getElementById("extraAddress").value = '';
		                }             
		                
		                // 우편번호와 주소 정보를 해당 필드에 넣는다.
		                document.getElementById("address").value = addr;
		                console.log(addr);
		                
		             	// 주소-좌표 변환 객체를 생성합니다
		                const geocoder = new kakao.maps.services.Geocoder();

		                // 주소로 좌표를 검색합니다
		                geocoder.addressSearch(data.roadAddress, function(result, status) {
		                
			                if (status === kakao.maps.services.Status.OK) {
			                	console.log(result[0].y, result[0].x);
			                	$('#latitude').val(result[0].y);
			                	$('#longitude').val(result[0].x);
			                	//$resultDiv.textContent = `위도: ${result[0].y}, 경도 : ${result[0].x}`;
			                	
		                	}
		                });
		            }
		        }).open();
		    }
		</script>
    	<script>    		
    		// 유효성검사 함수
    		const validCheck = element => {
    			let data = $(element).val();
    			let eleId = $(element).attr('id');
    			if(typeof data == 'undefined' || data == null || data == '' ){
    				let cate = $(`label[for="${eleId}"]`).text();
    				alert(`${cate} 필수 입력항목입니다.`);
    				$(element).focus();
    				return false;
    			}
    			return true;
    		}
    		
    		// 회원아이디 변경 시 이벤트 처리
    		$('#userId').change(function(){
    			$('#joinUserForm input').not('#userId').val('');
    			$('#joinUserForm input').not('#userId').prop('disabled', true);
				$('#joinUserForm select').prop('disabled', true);
				$('#joinUserForm button').not('#idCheck').prop('disabled', true);
    		});
    		
    		// 회원 가입 버튼 시 이벤트
    		 $('#joinUserBtn').click(function(event){
		        event.preventDefault();
				
		     // checkbox 값 설정
		        let smsCheck = document.getElementById('smsCheck');
		        let emailCheck = document.getElementById('emailCheck');
		
		        smsCheck.value = smsCheck.checked ? 'Y' : 'N';
		        emailCheck.value = emailCheck.checked ? 'Y' : 'N';
		        
		        if(smsCheck.value == 'N'){
			        $("<input>").attr({type: 'hidden', id: 'userSmscheck', name: 'userSmscheck', value: 'N'}).appendTo("#joinUserForm");
			    }
			    if(emailCheck.value == 'N'){
			        $("<input>").attr({type: 'hidden', id: 'userEmailcheck', name: 'userEmailcheck', value: 'N'}).appendTo("#joinUserForm");
			    }
		        
		        const validateEle = $('#joinUserForm input').not('#userId');
		        let isSubmit = false;
		        validateEle.each((idx, item) => {                
		            isSubmit = validCheck(item);
		            return isSubmit;
		        });
		
		        if(isSubmit) $('#joinUserForm').submit();
		    });
    	    		
    		// 아이디중복버튼 이벤트
    		$('#idCheck').click(function(){
    			const $userId = $('#userId');
    			let userId = $userId.val();
    			
    			// 유효성검사
    			let valid = validCheck($userId);
    			if(!valid) return false;
    			
    			// ajax 호출
    			const request = $.ajax({
					url: '/idCheck',
					method: 'POST',
					data: { 'userId' : userId },
					dataType: 'text'
   				});
   				
   				request.done(function( response ) {
   					if(response == 'true'){
   						alert('이미 등록된 아이디입니다.');
   						$userId.val('');
   						$userId.focus();
   	    				return false;
   					}else{
   						$('#joinUserForm input').prop('disabled', false);
   						$('#joinUserForm select').prop('disabled', false);
   						$('#joinUserForm button').prop('disabled', false);
   					}
					//console.log(response);
   				});
   				 
   				request.fail(function( jqXHR, textStatus ) {
					alert( "Request failed: " + textStatus );
   				});
    			
    		});
    	</script>
    </th:block>
</html>