<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
	<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="blog">
			<div class="container h-100">
				<img class="img-main" src="user/img/earthmain.jpg" 
		            	onmouseover="this.src='user/img/earthmainhover.jpg'" 
		            	onmouseout="this.src='user/img/earthmain.jpg'" alt="">	         
		    </div>
	    </section>
	  <!-- ================ end banner area ================= -->
	  
  <!--================ Main Area =================-->	    
		<section class="section-margin calc-60px">
			<div class="container container-body">
		        <div>
							<h2>KSMART 47기 <span class="section-intro__style">3팀 프로젝트</span> #21 버전</h2>

		            <div class="js-h-blank-20"></div>
							<h4>2023년 8월 29일 오후 5:20 배포</h4>
		        </div>
		        <div class="js-h-blank-10"></div>
		        <div class="row js-callout js-display-flex-center">
		            <span class="icon js-icon-x1-5">💡</span>
		            <p style="font-size: 20px">전주 스마트 정보 교육원 47기 3팀 프로젝트입니다.</p>
		            <p style="font-size: 30px">👋  꾸준히 성장하는 신입 개발자 6인의 프로젝트</p>
		        </div>
		
		        <div class="js-left-line row">
		            <div class="js-w-blank-10"></div>
		            
		        </div>

		        <div class="js-h-blank-50"></div>
		        <div>
		            <p style="font-size: 30px; font-weight: bolder"><span class="fe fe-folder"></span> Projects</p>
		        </div>
		        <div class="row">
		        	 <div id="projectMain" class="col-md-6 col-lg-4 col-xl-3">
			            <div class="card text-center card-product js-project-box">
			              <a href="/admin/" class="card-product__img">
			               <img class="img-project" src="user/img/adminProjectImg.jpg" 
				            	onmouseover="this.src='user/img/adminProjectImgHover.jpg'" 
				            	onmouseout="this.src='user/img/adminProjectImg.jpg'" alt="">					                
			              </a>					             
			            </div>
			          </div> 
					<div id="projectMain" class="col-md-6 col-lg-4 col-xl-3">
			            <div class="card text-center card-product js-project-box">
			              <a href="/projectIntro" class="card-product__img">
			               <img class="img-project" src="user/img/projectImg.jpg" 
				            	onmouseover="this.src='user/img/projectImgHover.jpg'" 
				            	onmouseout="this.src='user/img/projectImg.jpg'" alt="">					                
			              </a>					             
			            </div>
			          </div>    		
				</div>
		        <div class="js-h-blank-50"></div>
		        <div>
		            <p style="font-size: 30px; font-weight: bolder"><span class="fe fe-users"></span> Member</p>
		        </div>
		        <div class="row">
		            <div class="js-display-flex-left">
		     	       	<div class="row">
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member/member1.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                	<li><a class="btn mb-2 btn-secondary" href="https://leeri-study.tistory.com/" target="_blank" >블로그</a></li>
					                	<li><a class="btn mb-2 btn-secondary" href="https://github.com/e-sori/ks47team03" target="_blank">깃허브</a></li> 
					                	<li><a class="btn mb-2 btn-secondary" href="https://obsidian-snowflake-b70.notion.site/I-love-IT-70c250b38eec4ab09ad4df9cd60d5e38?pvs=4" target="_blank">노션</a></li>
					                	<li><a class="btn mb-2 btn-secondary" href="/sori" target="_self">담당기능</a></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title">이소리</h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member/member2.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                	<li><a class="btn mb-2 btn-secondary" href="https://blog.naver.com/hyeonjj20" target="_blank">블로그</a></li>
					                	<li><a class="btn mb-2 btn-secondary" href="https://github.com/e-sori/ks47team03" target="_blank">깃허브</a></li>
					                	<li><a class="btn mb-2 btn-secondary" href="https://rocky-coelurus-d7e.notion.site/I-can-do-IT-54cf79f2069c463785d14f868cb7657f?pvs=4" target="_blank">노션</a></li>
										<li><a class="btn mb-2 btn-secondary" href="/hyeonjeong" target="_self">담당기능</a></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title">박현정</h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member/member3.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                   <li><a class="btn mb-2 btn-secondary" href="https://blog.naver.com/choisb7503" target="_blank">블로그</a></li>
					                  <li><a class="btn mb-2 btn-secondary" href="https://github.com/e-sori/ks47team03" target="_blank">깃허브</a></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title">최수봉</h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member/member4.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                   <li><a class="btn mb-2 btn-secondary" href="https://kalasa.tistory.com/" target="_blank">블로그</a></li>
					                  <li><a class="btn mb-2 btn-secondary" href="https://github.com/e-sori/ks47team03" target="_blank">깃허브</a></li>
					                  <li><a class="btn mb-2 btn-secondary" href="/juyeol" target="_self">담당기능</a></li>
					                </ul>
					              </div>
					               <div class="card-body">
					                <h4 class="card-product__title">현주열</h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member/member5.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><a class="btn mb-2 btn-secondary" href="https://github.com/e-sori/ks47team03" target="_blank">깃허브</a></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title">서원</h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member/member6.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><a class="btn mb-2 btn-secondary" href="https://github.com/e-sori/ks47team03" target="_blank">깃허브</a></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title">김우석</h4>
					              </div>
					            </div>
					          </div>	

		            </div>
		        </div>
		    </div>
		 </div>
	 </section>
   </th:block>
</html>