<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
	<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="blog">
			<div class="container h-100">
				<img class="img-main" src="user/img/earthmain.jpg" 
		            	onmouseover="this.src='user/img/earthmainhover.jpg'" 
		            	onmouseout="this.src='user/img/earthmain.jpg'" alt="">	         
		    </div>
	    </section>
	  <!-- ================ end banner area ================= -->
	  
  <!--================ Main Area =================-->	    
		<section class="section-margin calc-60px">
			<div class="container container-body">
		        <div>
		        	<h2>KSMART 47기 <span class="section-intro__style">3팀 프로젝트</span> #4 버전</h2>

		            <div class="js-h-blank-20"></div>
		            <h4>2023년 7월 21일 12:15 배포</h4>
		        </div>
		        <div class="js-h-blank-10"></div>
		        <div class="row js-callout js-display-flex-center">
		            <span class="icon js-icon-x1-5">💡</span>
		            <p class="js-p-margin-0" style="font-size: 20px">전주 스마트 정보 교육원 47기 3팀 프로젝트입니다.</p>
		        </div>
		
		        <div class="js-left-line row">
		            <div class="js-w-blank-10"></div>
		            <p style="font-size: 30px">👋  경영진의 마인드를 가진 경력직같은 신입 개발자가 되고자 하는 6인의 프로젝트</p>
		        </div>

		        <div class="js-h-blank-50"></div>
		        <div>
		            <p style="font-size: 30px; font-weight: bolder"><span class="fe fe-folder"></span> Projects</p>
		        </div>
		        <div class="row">
		        	 <div id="projectMain" class="col-md-6 col-lg-4 col-xl-3">
			            <div class="card text-center card-product js-project-box">
			              <a href="/admin/" class="card-product__img">
			               <img class="img-project" src="user/img/adminProjectImg.jpg" 
				            	onmouseover="this.src='user/img/adminProjectImgHover.jpg'" 
				            	onmouseout="this.src='user/img/adminProjectImg.jpg'" alt="">					                
			              </a>					             
			            </div>
			          </div> 
					<div id="projectMain" class="col-md-6 col-lg-4 col-xl-3">
			            <div class="card text-center card-product js-project-box">
			              <a href="/projectIntro" class="card-product__img">
			               <img class="img-project" src="user/img/projectImg.jpg" 
				            	onmouseover="this.src='user/img/projectImgHover.jpg'" 
				            	onmouseout="this.src='user/img/projectImg.jpg'" alt="">					                
			              </a>					             
			            </div>
			          </div>    		
				</div>
		        <div class="js-h-blank-50"></div>
		        <div>
		            <p style="font-size: 30px; font-weight: bolder"><span class="fe fe-users"></span> Member</p>
		        </div>
		        <div class="row">
		            <div class="js-display-flex-left">
		     	       	<div class="row">
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member1.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><button><i class="ti-search"></i></button></li>
					                  <li><button><i class="ti-shopping-cart"></i></button></li>
					                  <li><button><i class="ti-heart"></i></button></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title"><a href="single-product.html">이소리</a></h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member2.png" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><button><i class="ti-search"></i></button></li>
					                  <li><button><i class="ti-shopping-cart"></i></button></li>
					                  <li><button><i class="ti-heart"></i></button></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title"><a href="single-product.html">박현정</a></h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member3.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><button><i class="ti-search"></i></button></li>
					                  <li><button><i class="ti-shopping-cart"></i></button></li>
					                  <li><button><i class="ti-heart"></i></button></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title"><a href="single-product.html">최수봉</a></h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member4.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><button><i class="ti-search"></i></button></li>
					                  <li><button><i class="ti-shopping-cart"></i></button></li>
					                  <li><button><i class="ti-heart"></i></button></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title"><a href="single-product.html">현주열</a></h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member5.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><button><i class="ti-search"></i></button></li>
					                  <li><button><i class="ti-shopping-cart"></i></button></li>
					                  <li><button><i class="ti-heart"></i></button></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title"><a href="single-product.html">서원</a></h4>
					              </div>
					            </div>
					          </div>
					          <div class="col-md-6 col-lg-4 col-xl-3">
					            <div class="card text-center card-product">
					              <div class="card-product__img">
					                <img class="card-img" src="user/img/member6.jpg" alt="">
					                <ul class="card-product__imgOverlay">
					                  <li><button><i class="ti-search"></i></button></li>
					                  <li><button><i class="ti-shopping-cart"></i></button></li>
					                  <li><button><i class="ti-heart"></i></button></li>
					                </ul>
					              </div>
					              <div class="card-body">
					                <h4 class="card-product__title"><a href="single-product.html">김우석</a></h4>
					              </div>
					            </div>
					          </div>		

		            </div>
		        </div>
		    </div>
		 </div>
	 </section>
   </th:block>
</html>