<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
	<!-- ================ start banner area ================= -->
		<section class="blog-banner-area" id="blog">
			<div class="container h-100">
				<img class="img-main" src="user/img/earthmain.jpg" 
		            	onmouseover="this.src='user/img/earthmainhover.jpg'" 
		            	onmouseout="this.src='user/img/earthmain.jpg'" alt="">	         
		    </div>
	    </section>
	  <!-- ================ end banner area ================= -->
	  
  <!--================ Main Area =================-->	    
		<section class="section-margin calc-60px">
	      <div class="container">
	        <div class="section-intro pb-60px">
	          <p>Popular Item in the market</p>
	          <h2>Trending <span class="section-intro__style">Product</span></h2>
	        </div>
	        <div class="row">
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product1.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Accessories</p>
	                <h4 class="card-product__title"><a href="single-product.html">Quartz Belt Watch</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product2.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Beauty</p>
	                <h4 class="card-product__title"><a href="single-product.html">Women Freshwash</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product3.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Decor</p>
	                <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product4.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Decor</p>
	                <h4 class="card-product__title"><a href="single-product.html">Room Flash Light</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product5.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Accessories</p>
	                <h4 class="card-product__title"><a href="single-product.html">Man Office Bag</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product6.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Kids Toy</p>
	                <h4 class="card-product__title"><a href="single-product.html">Charging Car</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div>
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product7.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Accessories</p>
	                <h4 class="card-product__title"><a href="single-product.html">Blutooth Speaker</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div> 
	            </div>
	          </div>
	          <div class="col-md-6 col-lg-4 col-xl-3">
	            <div class="card text-center card-product">
	              <div class="card-product__img">
	                <img class="card-img" src="user/img/product/product8.png" alt="">
	                <ul class="card-product__imgOverlay">
	                  <li><button><i class="ti-search"></i></button></li>
	                  <li><button><i class="ti-shopping-cart"></i></button></li>
	                  <li><button><i class="ti-heart"></i></button></li>
	                </ul>
	              </div>
	              <div class="card-body">
	                <p>Kids Toy</p>
	                <h4 class="card-product__title"><a href="#">Charging Car</a></h4>
	                <p class="card-product__price">$150.00</p>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </section>
  <!--================End Main Area =================-->
   </th:block>
</html>