<!DOCTYPE html>
<html layout:decorate="~{user/layout/indexDefault}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeLeaf.org">
<th:block layout:fragment="customContents">
  <header>
    <div class="container">
      <div class="page-header-icon undefined">
        <span class="icon js-icon-x5">📋</span>
      </div>
      <h1 class="page-title">KSMART 47기 3팀 프로젝트 소개</h1>
      <p class="page-description"></p>
    </div>
  </header>
  <div class="js-h-blank-100"></div>
  <div class="container">
    <h2 class="" id="2fb3881e-fe64-4900-9be3-d66e2b39b913">🌱프로젝트의 목적</h2>
    <div class="js-h-blank-20"></div>
    <p class="" id="555a8787-4fdb-4e47-a1e1-d197ec62797f">
    <div class="js-callout">
      <div class="js-h-blank-20"></div>
      <p class="js-callout-box-font" id="037806b6-2a20-48a9-af02-a0faf79ed740">일상에서 대량으로 소비되는 일회용 플라스틱 컵의 사용으로 인한 환경 오염의 심각성을 인식하고 대응하기 위한 "지구를 구하는 프로젝트-구구프로젝트"의 주요 목적은 탄소 중립을 실현하고 환경 보호에 기여하는 것입니다. </p>
      <p class="js-callout-box-font" id="3d0708bf-9a62-4818-84d0-a092cf603fe8">이 프로젝트는 폐기물 증가와 환경 오염 문제 해결을 위해 리유저블컵 대여 서비스를 제공하고 이는 환경 보호를 위한 주요한 사업 활동으로, 탄소중립 에코 공공서비스를 제공하는 것을 목표로 하며, 개개인이 환경 친화적인 선택을 쉽게 할 수 있도록 도와, 일회용 플라스틱 컵의 남용을 줄이는 것을 시작으로 다양한 일회용기의 사용을 줄이려고 합니다.  </p>
      <p class="js-callout-box-font" id="f0e49fe6-9746-493d-b5b3-89a06c436158">
       <mark class="highlight-orange">구구 프로젝트는</mark> 소비자들이 지속 가능한 생활 방식을 실천하고, 장기적으로 사회의 소비 패턴을 변화시킬 수 있는 기회를 제공하고 궁극적인 목표는 환경 친화적인 선택을 통해 인간과 환경이 공존하는 지속 가능한 생태계를 조성을 목표로 합니다.</p>
      <div class="js-h-blank-20"></div>
    </div>
    </p>
    <div class="js-h-blank-70"></div>
    <h2 class="block-color-gray_background" id="b9e10514-e681-4186-ac17-e9a2b5f17e59">🎁기대효과</h2>
    <div class="js-h-blank-20"></div>
    <ol class="numbered-list" id="ae0846e7-f4df-4741-bf5c-04239ae50e35" start="1" type="1">
      <li class="js-callout-box-font">환경 오염 감소: 리유저블컵 대여 서비스를 통해 일회용 플라스틱 컵의 사용량이 줄어들게 되면, 이로 인한 플라스틱 폐기물이 크게 감소하고 이는 환경 오염을 데 큰 도움이 됩니다.</li>
    </ol>
    <ol class="numbered-list" id="2770a653-6f4e-42d3-ac33-62192ea6ffb5" start="2" type="1">
      <li class="js-callout-box-font">탄소배출 감소: 일회용 플라스틱 컵의 제조 과정에서 발생하는 탄소배출을 줄일 수 있습니다. 이는 탄소중립을 달성하는 데 크게 기여하며, 기후 변화를 완화하는데 도움이 됩니다.</li>
    </ol>
    <ol class="numbered-list" id="4d88c41d-0a6b-4f1e-8be6-5a7bcc3d5f4c" start="3" type="1">
      <li class="js-callout-box-font">환경 보호 인식 강화: 이 프로젝트를 통해 개인과 커뮤니티, 그리고 사회 전체의 환경 보호에 대한 인식이 높아질 것입니다. 이로써 지속 가능한 생활 방식에 대한 사회적 수용성이 높아지고, 이를 실천하는 사람들이 늘어날 것으로 기대됩니다.</li>
    </ol>
    <ol class="numbered-list" id="440b9f12-5706-46f7-9504-c8f75b809883" start="4" type="1">
      <li class="js-callout-box-font">지속 가능한 소비 패턴 촉진: 리유저블컵 대여 서비스의 확산은 지속 가능한 소비 패턴을 촉진합니다. 이를 통해 사람들이 환경 친화적인 선택을 더 쉽게 할 수 있게 되며, 이는 장기적으로 사회 전체의 소비 패턴을 바꿀 수 있는 기반이 될 것 입니다.</li>
    </ol>
    <ol class="numbered-list" id="7c95d831-fa24-4ea4-8516-07d027d89491" start="5" type="1">
      <li class="js-callout-box-font">생태계 보호: 환경 보호를 위한 행동은 지구의 생태계를 보호하는데 중요한 행동입니다. 적은 양의 폐기물과 줄어든 탄소 배출은 해양 생태계, 육지 생태계를 포함한 전체 생태계의 건강을 유지하는데 기여합니다. </li>
    </ol>
    <div class="js-h-blank-70"></div>
    <h2 class="block-color-gray_background" id="b7c56a34-503b-472d-8eb7-0f5228e2fac5">🔧개발과정 및 프로젝트 기능</h2>
    <div class="js-h-blank-20"></div>
    <h3 class="" style="margin-left: 40px" id="f3bd477f-eaa8-4058-bc66-8ff6c38ddbd0">개발과정</h3>
    <div class="js-h-blank-20"></div>
    <p class="js-callout-box-font" id="de7f8930-53c0-489e-9f38-6a6b495238bd">시스템 구조도 작성, 기능정의, 상세자료 입력, 테이블 스키마, ERD 작성, UI 설계, 네이밍 규칙, 구현, 배포</p>
    <div class="js-h-blank-50"></div>
    <h3 class="" style="margin-left: 40px" id="8d625bab-9adb-4c68-9913-cc64242247de">프로젝트 기능</h3>
    <div class="js-h-blank-20"></div>
    <p class="js-little-title-font js-brown-box" id="154c94b1-d170-4d01-9fb3-0f5fb8d46038">🍎 회원 관리
    <div class="js-h-blank-20"></div>
    <div class="indented">
     <ol class="numbered-list" id="9fc510f4-c3aa-4dd3-91f5-c4be977f694b" start="1" type="1">
        <li class="js-callout-box-font">회원가입 신청 및 승인 관리
          <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
            <li class="js-callout-box-font" style="list-style-type:disc">회원별 가입을 신청한 후 기본 일반사용자 가입 차후 제휴업체 신청가능.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="2" type="1">
        <li class="js-callout-box-font">로그인 로그아웃 기능
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">회원의 계정 로그인 및 로그아웃 기능.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="3" type="1">
        <li class="js-callout-box-font">휴면 탈퇴 회원 관리
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">이용안한 기간이 1년 넘어가면 휴면계정 전환.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="4" type="1">
        <li class="js-callout-box-font">휴면 탈퇴 회원 관리
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">이용 횟수에 따른 등급 업그레이드</li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">일일 등급반영 최대 이용횟수 제한</li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="js-h-blank-20"></div>
    <p class="js-little-title-font js-brown-box" id="aef322a2-99ff-409e-b595-7f471b064e8f">🍏 포인트 관리
    <div class="js-h-blank-20"></div>
    <div class="indented">
      <ol class="numbered-list" id="9fc510f4-c3aa-4dd3-91f5-c4be977f694b" start="1" type="1">
        <li class="js-callout-box-font">포인트 적립
          <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
            <li class="js-callout-box-font" style="list-style-type:disc">등급이 상위로 업데이트 됐을 경우 등급 달성 포인트가 적립되고, 컵을 사용 후 반납하면 이용 적립 포인트를 적립한다.</li>
          </ul>
          <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
            <li class="js-callout-box-font" style="list-style-type:disc">모든 포인트는 유효기간이 존재한다.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="2" type="1">
        <li class="js-callout-box-font">포인트 사용
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">포인트 사용 기준을 참고해 포인트 환급과 후원을 할 수 있다. </li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">포인트 환급에는 수수료가 존재한다.</li>
          </ul>
          <ul class="bulleted-list" id="76a64aac-52ae-430e-8fd3-c3e267b0ce88">
            <li class="js-callout-box-font" style="list-style-type:disc">모든 포인트는 유효기간이 빠른 순서부터 사용된다.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="0d75fd5a-4892-44f6-b2f4-c5f83d8603ac" start="3" type="1">
        <li class="js-callout-box-font">포인트 적립 및 사용 내역
          <ul class="bulleted-list" id="bed5a9a6-311d-41ee-a843-20bd02a184a1">
            <li class="js-callout-box-font" style="list-style-type:disc">모든 포인트 적립과 사용 내역을 날짜별로 조회하고 관리할 수 있다.</li>
          </ul>
        </li>
      </ol>
    </div>
    <div class="js-h-blank-20"></div>
    <p class="js-little-title-font js-brown-box" id="aef322a2-99ff-409e-b595-7f471b064e8f">🍊 구구 컵 관리
    <div class="js-h-blank-20"></div>
    <div class="indented">
      <ol class="numbered-list" id="9fc510f4-c3aa-4dd3-91f5-c4be977f694b" start="1" type="1">
        <li class="js-callout-box-font">컵 이용내역 관리
          <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
            <li class="js-callout-box-font" style="list-style-type:disc">관리자가 전체 회원의 컵 대여, 반납 내역과 회원 한명의 컵 대여,반납 내역을 조회</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="2" type="1">
        <li class="js-callout-box-font">컵 이용 관리
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">대여 시간이 찍히면 반납날짜를 계산해 반납 예정일을 알 수 있음.</li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">반납 예정일 알림 기능</li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">연체된 회원의 컵 대여를 막고 부정회원으로 등록 하는 기능</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="3" type="1">
        <li class="js-callout-box-font">컵 상태 관리
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">현재 보유하고 있는 컵의 이용 상태를 관리</li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">현재 이용가능한 컵과 회원이 이용 중인 컵, 폐기/파손처리 된 컵을 확인 할 수 있다.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="0d75fd5a-4892-44f6-b2f4-c5f83d8603ac" start="4" type="1">
        <li class="js-callout-box-font">컵 재고 관리
          <ul class="bulleted-list" id="bed5a9a6-311d-41ee-a843-20bd02a184a1">
            <li class="js-callout-box-font" style="list-style-type:disc">입,출고 하는 컵의 수량과 비정상 재고의 수량을 파악해 현재 출고 가능한 수량을 확인</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="dd5c8dc4-be95-40df-8248-8bdf23a9db4e" start="5" type="1">
        <li class="js-callout-box-font">폐기컵 관리
          <ul class="bulleted-list" id="a94bf983-5d0b-45ec-8e0a-c033f5a16dba">
            <li class="js-callout-box-font" style="list-style-type:disc">세척 업체에서 폐기 처리 된 컵의 내역의 엑셀파일을 업로드 받아 현재 폐기 처리된 컵을 조회</li>
          </ul>
        </li>
      </ol>
    </div>
 
    <div class="js-h-blank-20"></div>
    <p class="js-little-title-font js-brown-box" id="1b739554-ac01-4132-8ed5-dd148ab80bb6">🍒 보증금 관리
    <div class="js-h-blank-20"></div>
    <div class="indented">
      <ol class="numbered-list" id="9fc510f4-c3aa-4dd3-91f5-c4be977f694b" start="1" type="1">
        <li class="js-callout-box-font">보증금 관련 기준 관리
          <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
            <li class="js-callout-box-font" style="list-style-type:disc">보증금 결제 수단을 무통장 결제 선택시 사용되는 입금 대기 만료기간 기준을 관리</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="2" type="1">
        <li class="js-callout-box-font">보증금 결제, 환급
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">보증금을 계좌이체, 무통장입금으로 결제하는 기능.</li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">결제된 보증금을 환급하는 기능.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="3" type="1">
        <li class="js-callout-box-font">보증금 이용내역
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">이용자는 개인의 보증금 결제, 환급, 이용 내역 조회.</li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">관리자는 전체회원의 보증금 결제, 환급, 이용 내역 조회.</li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="js-h-blank-20"></div>
    <p class="js-little-title-font js-brown-box" id="89a8952c-647a-496e-b4dc-2ce2f40c9829">🍑 무인기기 관리
    <div class="js-h-blank-20"></div>
    <div class="indented">
      <ol class="numbered-list" id="9fc510f4-c3aa-4dd3-91f5-c4be977f694b" start="1" type="1">
        <li class="js-callout-box-font">무인기기 위치 조회
          <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
            <li class="js-callout-box-font" style="list-style-type:disc">사용자가 현재 설치된 무인기기의 위치를 조회 하는 기능</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="2" type="1">
        <li class="js-callout-box-font">AS 접수
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">설치사업장이 무인기기 AS를 신청.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="3" type="1">
        <li class="js-callout-box-font">무인기기 설치 신청 관리
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">무인기기 설치 신청했을 때 설치 신청한 사업장 정보 조회와 신청 상태 관리.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="4" type="1">
        <li class="js-callout-box-font">무인기기 신청 반려 관리
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">설치 신청 관리에서 신청 반려 시 반려 목록으로 넘어가서 조회.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="5" type="1">
        <li class="js-callout-box-font">무인기기 설치 목록 조회
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">무인기기가 설치된 설치사업장을 조회.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="5" type="1">
        <li class="js-callout-box-font">AS 접수 관리
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">설치사업장에서 무인기기 AS를 신청 시 접수내역 관리.</li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="js-h-blank-20"></div>
    <p class="js-little-title-font js-brown-box" id="9ef128d2-68f7-43cd-a858-fc3b351430b2">🥝 커뮤니티 관리
    <div class="js-h-blank-20"></div>
    <div class="indented">
      <ol class="numbered-list" id="9fc510f4-c3aa-4dd3-91f5-c4be977f694b" start="1" type="1">
        <li class="js-callout-box-font">커뮤니티 게시판 작성
          <ul class="bulleted-list" id="e7cf4808-e204-4ef5-a15b-926028d9e00c">
            <li class="js-callout-box-font" style="list-style-type:disc">모든 플랫폼 사용자가 자유롭게 커뮤니티 게시글을 작성,수정,삭제 할 수 있다.</li>
          </ul>
        </li>
      </ol>
      <ol class="numbered-list" id="15ae2ea5-a33a-4ccc-8343-cc15a063f54c" start="2" type="1">
        <li class="js-callout-box-font">부적절한 게시글 신고
          <ul class="bulleted-list" id="9a0e5590-2654-4d99-87d5-3e4f3f066b05">
            <li class="js-callout-box-font" style="list-style-type:disc">부적절한 내용을 가진 게시글의 신고유형을 선택해 신고 할 수 있다. </li>
          </ul>
          <ul class="bulleted-list" id="639fc195-01a4-4ac7-84af-5776e79c4b94">
            <li class="js-callout-box-font" style="list-style-type:disc">관리자는 관리자 페이지에서 신고의 승인여부를 판단 해 부정회원으로 등록 할 수 있다.</li>
          </ul>
        </li>
      </ol>
    </div>

    <p class="" id="043ab68c-945f-4a0c-a492-e427ba6b6b2e"></p>
    <div class="js-h-blank-20"></div>
    <h2 class="block-color-gray_background" id="81b711dc-6ae4-4651-a37e-2098d7c009bc">💻 개발환경
    </h2>
    <p class="" id="4a12c2bd-a179-4ae5-94fa-e2c18fe3e39f"></p>
    <p class="js-callout-box-font" id="c2e9c071-d729-49aa-97fb-d3bceb70df26">▶Language : Java, JavaScript(JQuery : jquery-3.5.1), HTML, CSS</p>
    <p class="js-callout-box-font" id="3fa874c4-0545-41ef-80aa-90a5e61d518c">▶DB : MySQL</p>
    <p class="js-callout-box-font" id="35816d62-377d-4e36-b657-b132b1e6d730">▶DB관리툴 : HeidiSQL 10.1.0.5464</p>
    <p class="js-callout-box-font" id="82ba73f6-7d3f-45c2-b9e3-d95878c66e7f">▶서버 : apache – 10.1.8</p>
    <p class="js-callout-box-font" id="fc8f72b4-c6f8-425e-ae20-faa4d60876d6">▶WAS : Tomcat – 10.1.8</p>
    <p class="js-callout-box-font" id="e0cdae69-b915-4640-bda5-c403579b5e9a">▶협업툴 : GitHub, NAS</p>
    <p class="js-callout-box-font" id="762e22cc-715c-4bc0-996c-f2d57ff6714d">▶프레임워크 : Eclipse IDE 2023-03 (4.27.0), STS4 4.18.1, springframework 6.0.9, spring-webmvc 6.0.9, Maven, mybatis-3.5.13, mybatis-spring 3.0.2, bootstrap</p>
    <p class="js-callout-box-font" id="67956d7d-8fe0-471c-bed4-baf1b44a28f7">API : jackson.core 2.15.0, spring-jdbc-6.0.9, mysql-connector-java 8.0.33 , log4j 1.16, thymeleaf-3.1.1</p>
  </div>
</th:block>
</html>