<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{user/layout/default}">
	<th:block layout:fragment="customContents">
  

  <!--================selectJoin Area =================-->
  <section class="order_details section-margin--small select-center">
	    <div class="container">			
			<a class="userJoin" href="/userJoin">
				<img src="user/img/userJoin.png" 
			        	onmouseover="this.src='user/img/userJoinHover.png'" 
			        	onmouseout="this.src='user/img/userJoin.png'" 
			        	 height="230px" width="160px" alt="">	
			</a>
			<a class="partnerJoin" href="/partnerJoin">
				<img src="user/img/partnerJoin.png" 
			        	onmouseover="this.src='user/img/partnerJoinHover.png'" 
			        	onmouseout="this.src='user/img/partnerJoin.png'" 
			        	 height="230px" width="203px" alt="">
			</a>
		</div>
  </section>
  <!--================End selectJoin Area =================-->

   </th:block>
</html>