<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{admin/layout/default}">
	  	  
	<th:block layout:fragment="customContents">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12">
					<h2 class="mb-2 page-title">포인트 관련 기준 관리</h2>
					<div class="row my-4">
						<div class="col-md-12 table-margin-bottom">
							<div class="card shadow">
								<div class="card-body">               
									<!-- tab 버튼 시작 -->
									<ul class="nav nav-pills nav-fill mb-3 bottom-border" id="pills-tab" role="tablist">
									    <li class="nav-item">
									      <a class="nav-link nav-tab active" id="pills-max-tab" data-toggle="pill" href="#pills-max" role="tab" aria-controls="pills-max" aria-selected="true">하루 최대 적립 포인트 횟수 기준</a>
									    </li>
									    <li class="nav-item">
									      <a class="nav-link nav-tab" id="pills-expire-tab" data-toggle="pill" href="#pills-expire" role="tab" aria-controls="pills-expire" aria-selected="false">포인트 유효 기간 기준</a>
									    </li>
									    <li class="nav-item">
									      <a class="nav-link nav-tab" id="pills-type-tab" data-toggle="pill" href="#pills-type" role="tab" aria-controls="pills-type" aria-selected="false">포인트 타입</a>
									    </li>
									    <li class="nav-item">
									      <a class="nav-link nav-tab" id="pills-save-tab" data-toggle="pill" href="#pills-save" role="tab" aria-controls="pills-save" aria-selected="false">포인트 적립 기준</a>
									    </li>
									    <li class="nav-item">
									      <a class="nav-link nav-tab" id="pills-refund-tab" data-toggle="pill" href="#pills-refund" role="tab" aria-controls="pills-refund" aria-selected="false">포인트 환급 기준</a>
									    </li>
									</ul>
									<!-- tab 버튼 끝 -->
									<div class="tab-content mb-1" id="pills-tabContent">	                 
										<div class="tab-pane fade show active" id="pills-max" role="tabpanel" aria-labelledby="pills-max-tab"> 
											<h5 class="mb-2 page-small-title">하루 최대 적립 포인트 횟수 기준</h5>
											<p class="card-small-text"> 하루에 적립 가능한 포인트 횟수는 최대 [[${useMaxCount}]]번입니다.</p>
											<!-- 포인트 기준 테이블 시작 -->
											<table class="table datatables dataTable no-footer table-hover" id="pointStandardManage">
												<thead>
													<tr>
														<th>
															<input type="checkbox" class="custom-control custom-checkbox checkbox allCheck">
														</th>
									                    <th>No.</th>
									                    <th>횟수 기준 코드</th>
									                    <th>적립 가능 횟수</th>
									                    <th>코드 사용 유무</th>
									                    <th>최초 등록일</th>
									                    <th>관리자 ID</th>
									                    <th>최종 수정일</th>
					                  				</tr>
					               			 	</thead>
												<tbody>
										        	<th:block 	th:unless="${#lists.isEmpty(pointStandardList)}"
										                		th:each ="p , state: ${pointStandardList}">
														<tr> 
															<td>
																<input type="checkbox" class="custom-control custom-checkbox checkbox checks">
															</td>
															<td th:text="${p['No']}"></td>
															<td th:text="${p['횟수 기준 코드']}"></td>
															<td th:text="${p['적립 가능 횟수']}"></td>
															<td th:text="${p['코드 사용 유무']}"></td>
															<td th:text="${p['최초 등록일']}"></td>
															<td th:text="${p['관리자 ID']}"></td>
															<td th:text="${p['최종 수정일']}"></td>
														</tr>  
													</th:block>                
												</tbody> 
											</table> 
											<!-- 포인트 기준 테이블 끝 -->  
											<!-- 등록버튼 -->
											<div class="colSpan-left">
												<button type="button" class="btn mb-2 btn-secondary"th:href="@{/admin/point/PointStandardManage}" data-toggle="modal" data-target=".varyModalInsert" data-whatever="@mdo">등록</button>
												<div class="modal fade varyModalInsert"  tabindex="-1" role="dialog" aria-labelledby="varyModalLabelInsert" aria-hidden="true">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="varyModalLabelInsert">하루 최대 적립 포인트 횟수 기준 등록</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<form>
																	<div class="form-group">
																		<label for="message-text" class="col-form-label">적립 가능 횟수:</label>
																		<input type="text" class="form-control" value="횟수">
																	</div>
																	<div class="form-group">
																		<label for="message-text" class="col-form-label">관리자 ID:</label>
																		<input type="text" class="form-control" readonly="readonly">
																	</div>
																	<div class="form-group">
																		<label for="message-text" class="col-form-label">비밀번호 : </label>
																		<input type="password" class="form-control">
																	</div>
																</form>
															</div>
															<div class="modal-footer">
																<button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">입력 취소</button>
																<button type="button" class="btn mb-2 btn-secondary">등록 확인</button>
															</div>
														</div>
													</div>
												</div>
												<!-- 수정 버튼 -->
												<button type="button" class="btn mb-2 btn-secondary modalBtn" data-toggle="modal" th:data-target=".modifyBtn">수정</button>
	           									<div class="modal fade modal-div modifyBtn"tabindex="-1" role="dialog" aria-labelledby="varyModalLabelModify" aria-hidden="true">
		              								<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" >하루 최대 적립 포인트 횟수 기준 수정</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
															    	<span aria-hidden="true">&times;</span>
															  	</button>
					                 						</div>
					                 						<div class="modal-body">
																<form action="" method="Post">
																	<div class="form-group">
																		<label th:for="modifyCode" class="col-form-label">코드</label>
																		<input type="text" class="form-control" readonly="readonly" th:value="ㅇㅇ">
																	</div>
																	<div class="form-group">
																		<label th:for="modifyCount" class="col-form-label">적립 가능 횟수</label>
																		<input type="text" class="form-control" th:value="ㄱㄱ">
																	</div>
																	<div class="form-group">
																		<label th:for="modifyUse" class="col-form-label">코드 사용 유무</label>
																		<select class="form-control">
																		 	<th:block 	th:unless="${#lists.isEmpty(codeUseList)}"
																						th:each="u : ${codeUseList}">
																			  	<option th:selected="${u} == 1"
																			  			th:value="${u}" 
																			  			th:text="${u}">
																			  	</option>
																			</th:block> 
																		</select>
																	</div>
																	<div class="form-group">
																		<label th:for="modifyAdmin" class="col-form-label">관리자 ID</label>
																		<input type="text" class="form-control" readonly="readonly" th:value="${SID}" >
																	</div>
																	<div class="form-group">
																		<label th:for="modifyPw" class="col-form-label">비밀번호</label>
																		<input type="password" class="form-control" >
																	</div>
																	<button type="reset" class="btn mb-2 btn-secondary">입력 취소</button>
																	<button type="button" class="btn mb-2 btn-secondary" >수정 확인</button>
																</form>
															</div>
														</div>
				              						</div>
				           						</div>
												<!-- 삭제 버튼 -->
												<button type="button" class="btn mb-2 btn-secondary select-delete" data-toggle="modal" data-target=".varyModalDelete" data-whatever="@mdo">삭제</button>
												<div class="modal fade varyModalDelete" tabindex="-1" role="dialog" aria-labelledby="varyModalLabelDelete" aria-hidden="true">
													<div class="modal-dialog" role="document">
														<div class="modal-content">
															<div class="modal-header">
																<h5 class="modal-title" id="varyModalLabelDelete">하루 최대 적립 포인트 횟수 기준 삭제</h5>
																<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																	<span aria-hidden="true">&times;</span>
																</button>
															</div>
															<div class="modal-body">
																<form>
																	<div class="form-group">
																		<label for="recipient-name" class="col-form-label">코드:</label>
																		<input type="text" class="form-control" readonly="readonly">
																	</div>
																	<div class="form-group">
																		<label for="message-text" class="col-form-label">적립 가능 횟수:</label>
																		<input type="text" class="form-control" value="횟수">
																	</div>
																	<div class="form-group">
																		<label for="message-text" class="col-form-label">관리자 ID:</label>
																		<input type="text" class="form-control" readonly="readonly">
																	</div>
																	<div class="form-group">
																		<label for="message-text" class="col-form-label">비밀번호 : </label>
																		<input type="password" class="form-control">
																	</div>
																	<button type="button" class="btn mb-2 btn-secondary" data-dismiss="modal">입력 취소</button>
																	<button type="button" class="btn mb-2 btn-secondary" id="varyModalDeleteBtn">삭제 확인</button>
																</form>
															</div>
														</div>
													</div>  
												</div>      
											</div>                 
										</div>
									</div>		             
								</div>
							</div>
						</div>
					</div> 
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customJs">
		<script>	
			// 데이터 테이블 설정
			$(function(){
				$('#pointStandardManage').each(function() {
					const table = $(this);
				    table.DataTable({
					    autoWidth : true,
					    lengthChange : false, 
					    pageLength : 10,
					    searching : false,
					    info : false,
					    pagingType : "full_numbers",
					    columnDefs: [{
							targets: 0,
							searchable: false,
							orderable: false
	
					    }]
					});
				});
				$('#pointStandardManage').find('.sorting_asc').toggleClass('sorting_asc');
				
				const $buttons = $('.colSpan-left').clone(true);
				$('.colSpan-left').remove();
				$('#pointStandardManage_wrapper').append($buttons);
			});		
		
			// ajax와 제이쿼리로 데이터테이블 동적으로 수정
			$(document).on('click', '.nav-tab', e => {	
				// 다른 탭으로 이동할때 체크박스 상태 초기화
				 $('.checkbox').prop('checked', false);       
				
				let tableId = $(e.target).attr('aria-controls');  
				console.log(tableId);
				
				// 클릭한 탭으로 속성 변경
		        $('.tab-pane').attr('id', tableId).attr('aria-labelledby', `${tableId}-tab`);
		        $('#pills-tab').find('.active').toggleClass('active');
		        $(e.target).toggleClass('active');
		        
				const requestData = $.ajax({
		 		 	url: '/admin/point/pointStandardManageClick',
					method: 'GET',
					data: { 'tableId' : tableId },
					dataType: 'json'
		 		});
				requestData.done(function( response ) {
					if(response){
						console.log(response);
						
						const $check = $('.checks').first().clone(true);
						const $allCheck = $('.allCheck').clone(true);
						
				        // key(title) : <th> , value(data) : <td>에 담아주기 위해 배열 선언 
				        const newData = [
				        	 { 
				        	        data: null, 
				        	        defaultContent: '<input type="checkbox" class="custom-control custom-checkbox checkbox checks">', 
				        	        orderable: false, 
				        	        searchable: false,
				        	        targets: 0 
				        	    }
				        ];

				        // response : 배열 , list : 객체 (배열 안에 객체 여러 개가 존재하는 형태)
				        for (let obj of response){
				        	for(let key in obj){
				        		newData.push({
					                title: key,  // key 자체를 문자열로 컬럼에 넣어줄 예정
					                data: key  // key와 일치하는 value를 행으로 넣어줄 예정 (data의 키)
					            });
				        	}
				        	break; // 어차피 컬럼은 객체 하나만 돌아도 되기 때문에 한 번만 돌고 반복문을 끝내준다.
				        }

				        const $buttons = $('.colSpan-left').clone(true);
						$('.colSpan-left').remove();

						// 데이터 테이블 파괴
						$('#pointStandardManage').DataTable().destroy();
						
						// thead의 th와 tbody의 td 비우기
						$('thead tr th:not(:first-child)').remove();
						$('tbody').remove();
						
				        const newDataNum = newData.length-1; 
				        for(let i = 0 ; i < newDataNum ; i += 1) {
				        	$('thead tr').append('<th></th>');			        	
				        }
												
						// 위에서 담아준 배열을 이용해서 새로운 데이터테이블 생성
						$('#pointStandardManage').each(function() {
							const table = $(this);
						    table.DataTable({
							    autoWidth : true,
							    lengthChange : false, 
							    pageLength : 10,
							    searching : false,
							    info : false,
							    pagingType : "full_numbers",
							    columnDefs: [{
									targets: 0,
									searchable: false,
									orderable: false,
									className: 'sorting_disabled'
							    }],
							    data: response,
					            columns: newData
							});
						});
						$('#pointStandardManage').find('.sorting_asc').toggleClass('sorting_asc');
						
						$('#pointStandardManage_wrapper').append($buttons);
						
						// 테이블 헤더 변경
						switch(tableId){
						case 'pills-expire':
							let pointExpire;
							for(let list of response){
								if(list['코드 사용 유무'] == '사용가능') {
									pointExpire = list['유효 기간'];
								}
							}
							$('.page-small-title').text('포인트 유효 기간 기준');
							$('.card-small-text').text(`포인트 유효 기간은 ${pointExpire}년입니다.`);
							break;
						case 'pills-type':
							$('.page-small-title').text('포인트 타입');
							$('.card-small-text').text('포인트 타입입니다.');
							break;
						case 'pills-save':
							$('.page-small-title').text('포인트 적립 기준');
							$('.card-small-text').text('포인트 적립 및 사용 타입 기준입니다.');
							break;
						case 'pills-refund':
							$('.page-small-title').text('포인트 환급 기준');
							$('.card-small-text').text('포인트 환급 기준입니다.');
							break;
						case 'pills-max':
							let useMaxCount;
							for(let list of response){
								if(list['코드 사용 유무'] == '사용가능') {
									useMaxCount = list['적립 가능 횟수'];
								}
							}
							$('.page-small-title').text('하루 최대 적립 포인트 횟수 기준');
							$('.card-small-text').text(`하루에 적립 가능한 포인트 횟수는 최대 ${useMaxCount}번입니다.`);								
							break;
						}
					}
					requestData.fail(function( jqXHR, textStatus ) {
						alert( "Request failed: " + textStatus );
					});

				});
			});
			

			// 체크박스 모두 선택 / 개별 선택
			$(document).on('click', '.checkbox', e => {
		        if ($(e.target).is($('.allCheck'))) {
		          const isChecked = $(e.target).prop('checked');
		          $('.checks').prop('checked', isChecked);
		        }else if ($(e.target).is($('.checks'))) {
		          if ($('.checks').length == $('.checks:checked').length) {
		            $('.allCheck').prop('checked', true);
		          } else $('.allCheck').prop('checked', false);
		        }
			});		
			
				
				
			
			</script>
	</th:block>
</html>